.env
.idea/
__pycache__/
src/config.py
/pf2/media/
/pf2/locales/
/migrations/
csvs/
/csvs/
venv/
/venv/
/pf2/static/fonts/
/pf2/static/icons/
/pf2/templates/core_rulebook/
db.db
*.json
*.db
/pf2/rules/
