{% extends 'base.html' %}

{% block title %}
{{ trans('About', lang) }}
{% endblock %}


{% block body %}
<h1 class="h1-header">{{ trans('About', lang) }}</h1>

        <p>
            Приветствую, следопыты! <br>
            Меня зовут Влад, я являюсь автором и разработчиком данного сайта, посвященного Настольной Ролевой Игре (НРИ) Pathfinder Second Edition. Распространяемые материалы являются интеллектуальной собственностью Paizo и опубликованы согласно OGL и CUP. Это вторая попытка перезапуска сайта - большая часть кода была переписана в связи с переходом на другой движок. Данный проект является некоммерческим, цель его создания и существования - популяризация НРИ в русскоязычном сегменте.
        </p>

            <br> <b>Размещенный контент является <i>Legacy</i> контентом, это значит что он не учитывает обновления <i>Remaster</i> версии правил.</b>
        </p>

        <p>По всем возникшим вопросам, предложениям и пожеланиям - просьба писать через <a class="textlink" href="{{ url_for('feedback') }}">форму обратной связи</a>.
        </p>


{% endblock %}
