{% extends 'base.html' %}

{% block title %}
Pathfinder 2e
{% endblock %}


{% block body %}
<h1 class="h1-header">{{  trans('Pathfinder Second Edition', lang) }}</h1>

<div class="content-table">

	<div class="content-item">
		<a class="content-header" href="{{ url_for('get_rules_index') }}">{{ trans ('Rules', lang) }}</a>
	</div>
	<div class="content-item">
		<a class="content-header" href="{{ url_for('get_database_index') }}">{{ trans ('Database', lang) }}</a>
	</div>
</div>
     <h2 class="h2-header">30.06.2024</h2>
    <p class="">Приветствую, Следопыты! <br>
    Добавлены пользователи, теперь вы можете зарегистрироваться на сайте (или сделать это через сервис авторизации Google) через ссылку возле языковой панели. Зарегистрированные пользователи получают возможность делать личные заметки к различным объектам на сайте. В дальнейшем функционал для пользователей будет расширяться, из ближайших планов - добавить возможность делать карточки снаряжения и заклинаний.
        <br>
    Исправлены битые ссылки в таблицах оружия, брони и щитов.
        <br>
    Исправлены мелкие опечатки и ошибки верстки в выводе некоторых страниц.
        <br>
    Начата работа по добавлению контента Бестиария.
    </p>


     <h2 class="h2-header">10.06.2024</h2>
    <p class="">Приветствую, Следопыты! <br>
        Оптимизировано отображение для мобильных приложений. Также улучшен вывод некоторых страниц.
        <br>
        Добавлен поиск по базе данных. Поиск по правилам пока не работает совсем.
        <br>
        Добавлены варианты для предметов в таблицах.
    </p>

    <h2 class="h2-header">02.06.2024</h2>
    <p class="">Приветствую, Следопыты! <br>
            Проект pf2.ru перезапущен и в данный момент находится на стадии активной доработки, однако, весь контент и основные технические функции уже доступны для использования.
            <br>
            Сайт функционирует на двух языках - английском и русском, для быстрой смены используются кнопки в правом верхнем углу. На данный момент добавлен контент на обоих языках по двум книгам - <i>Основная книга правил</i> и <i>Руководство продвинутого игрока</i>. Планируется добавление Бестиария, постепенное расширение англоязычной базы, и возможность размещения своих переводов пользователями (придерживаясь терминологии, введенной официальным издателем игры на русском языке).
            <br>
        </p>
            <p class="">По всем возникшим вопросам, предложениям и пожеланиям - просьба писать через <a class="textlink" href="{{ url_for('feedback') }}">форму обратной связи</a>.
        </p>

{% endblock %}
1