
{% if lang == 'ru' %}
<div class="class-content">
    No content yet
</div>

{% elif lang == 'en' %}
<div class="class-content">
    <b>Source</b> [[source/1|Core Rulebook]] <br/><i>There’s no sight more beautiful to you than a strange brew bubbling
    in a beaker, and you consume your ingenious elixirs with abandon. You’re fascinated by uncovering the secrets of
    science and the natural world, and you’re constantly experimenting in your lab or on the go with inventive
    concoctions for every eventuality. You are fearless in the face of risk, hurling explosive or toxic creations at
    your foes. Your unique path toward greatness is lined with alchemical brews that push your mind and body to their
    limits.</i><br/><br/><b>Key Ability: INTELLIGENCE</b><br/>At 1st level, your class gives you an ability boost to
    Intelligence<br/><br/><b>Hit Points: 8 plus your Constitution modifier</b><br/>You increase your maximum number of
    HP by this number at 1st level and every level thereafter.<br/>
    <div class="sidebar">
        <div class="sidebar-header">Key Terms</div>
        <p class="sidebar--p">
            You'll see the following key terms in many alchemist
            abilities.<br/><br/> <b>[[trait/4|Additive]]</b>: Feats with the additive trait allow you to spend actions
            to
            add special substances to bombs or elixirs. You can add only one additive to a single alchemical item, and
            attempting to add another spoils the item. You can typically use actions with the additive trait only when
            you're creating an infused alchemical item, and some can be used only with the [[feat/667|Quick Alchemy]]
            action. The additive trait is always followed by a level, such as additive 2. An additive adds its level to
            the
            level of the alchemical item you're modifying; the result is the new level of the mixture. The mixture's
            item
            level must be no higher than your advanced alchemy level.<br/><br/> <b>[[trait/94|Infused]]</b>: You created
            an
            alchemical item with the infused trait using your infused reagents, and it has a limited time before it
            becomes
            inert. Any nonpermanent effects from your infused alchemical items, with the exception of afflictions such
            as
            slow-acting poisons, end when you make your daily preparations again.
        </p>
    </div>
    <h1 class="h1-header">Roleplaying the Alchemist</h1>
    <h2 class="h2-header">During Combat Encounters...</h2>You lob bombs at your foes, harry your enemies, and support
    the rest of your party with potent elixirs. At higher levels, your mutagens warp your body into a resilient and
    powerful weapon.<br/>
    <h2 class="h2-header">During Social Encounters...</h2>You provide knowledge and experience about alchemical items
    and related secrets, such as poisons and diseases.<br/>
    <h2 class="h2-header">While Exploring...</h2>You keep an eye out for trouble with your bombs at the ready, while
    giving advice on all things alchemical and mysterious.<br/>
    <h2 class="h2-header">In Downtime...</h2>You experiment in an alchemical lab, brewing elixirs, making bombs, and
    furthering your alchemical knowledge.<br/>
    <h2 class="h2-header">You Might...</h2>
    <ul>
        <li>Enjoy tinkering with strange formulas and alchemical reagents, often with a single-minded dedication and
            recklessness that gives others pause.
        </li>
        <li>Get a kick out of wreaking havoc with the alchemical concoctions you’ve made, and enjoy watching things
            burn, dissolve, freeze, and jolt.
        </li>
        <li>Endlessly experiment to discover new, more potent alchemical tools.</li>
    </ul>
    <h2 class="h2-header">Others Probably...</h2>
    <ul>
        <li>Think you’re some kind of sorcerer or an eccentric wizard and don’t understand that you don’t cast spells;
            spellcasters who clumsily dabble in alchemy only heighten this misconception.
        </li>
        <li>Don’t understand your zeal for alchemy, creativity, and invention.</li>
        <li>Assume that if you haven’t caused a catastrophe with your experimentations, you inevitably will.</li>
    </ul>
    <h1 class="h1-header">Initial Proficiencies</h1>At 1st level, you gain the listed proficiency ranks in the following
    statistics. You are untrained in anything not listed unless you gain a better proficiency rank in some other
    way.<br/>
    <h2 class="h2-header">Perception</h2>Trained in Perception<br/>
    <h2 class="h2-header">Saving Throws</h2>Expert in Fortitude<br/>Expert in Reflex<br/>Trained in Will<br/>
    <h2 class="h2-header">Skills</h2>Trained in [[skill/4|Crafting]]<br/> Trained in a number of additional skills equal
    to 3 plus your Intelligence modifier
    <br/>
    <h2 class="h2-header">Attacks</h2>Trained in simple weapons<br/> Trained in [[weapon/73|alchemical bombs]]<br/>
    Trained in unarmed attacks
    <br/>
    <h2 class="h2-header">Defenses</h2>Trained in medium armor<br/>Trained in light armor<br/> Trained in unarmored
    defense<br/>
    <h2 class="h2-header">Class DC</h2>Trained in alchemist class DC<br/>
    <h1 class="h1-header">Class Features</h1>You gain these features as an Alchemist. Abilities gained at higher levels
    list the levels at which you gain them next to the features' names.
    <table class="inner" style="float:left; margin:10px 10px 10px 0px; max-width:50%; overflow:hidden">
        <tbody>
        <tr>
            <th><b>Level</b></th>
            <th><b>Class Features</b></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Ancestry and background, initial proficiencies, alchemy, formula book, research field, alchemist feat
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Alchemist feat, skill feat</td>
        </tr>
        <tr>
            <td>3</td>
            <td>General feat, skill increase</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Alchemist feat, skill feat</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Ability boosts, ancestry feat, field discovery, powerful alchemy, skill increase</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Alchemist feat, skill feat</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Alchemical weapon expertise, general feat, iron will, perpetual infusions, skill increase</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Alchemist feat, skill feat</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Alchemical expertise, alertness, ancestry feat, double brew, skill increase</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Ability boosts, alchemist feat, skill feat</td>
        </tr>
        <tr>
            <td>11</td>
            <td>General feat, juggernaut, perpetual potency, skill increase</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Alchemist feat, skill feat</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Ancestry feat, greater field discovery, medium armor expertise, skill increase, weapon specialization
            </td>
        </tr>
        <tr>
            <td>14</td>
            <td>Alchemist feat, skill feat</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Ability boosts, alchemical alacrity, evasion, general feat, skill increase</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Alchemist feat, skill feat</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Alchemical mastery, ancestry feat, perpetual perfection, skill increase</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Alchemist feat, skill feat</td>
        </tr>
        <tr>
            <td>19</td>
            <td>General feat, medium armor mastery, skill increase</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Ability boosts, alchemist feat, skill feat</td>
        </tr>
        </tbody>
    </table>

    <h2 class="h2-header">Ancestry and Background</h2>In addition to the abilities provided by your class at 1st level,
    you have the benefits of your selected ancestry and background, as described in Chapter 2.<br/>
    <h2 class="h2-header">Initial Proficiencies</h2>At 1st level, you gain a number of proficiencies that represent your
    basic training. These proficiencies are noted at the start of this class.<br/>
    <h2 class="h2-header">Alchemy</h2>You understand the complex interactions of natural and unnatural substances and
    can concoct alchemical items to meet your needs. You can do this using normal reagents and the Craft activity, or
    you can use special infused reagents that allow you to craft temporary items quickly and at no cost. Over time, you
    can create more and more alchemical items for free, and since each of them becomes more and more powerful, you
    advance in power dramatically, leaving behind those who don't understand your strange science.<br/><br/> You gain
    the [[feat/752|Alchemical Crafting]] feat, even if you don't meet that feat's prerequisites, and you gain the four
    common 1st-level alchemical formulas granted by that feat. Alchemical Items can be found here. You can use this feat
    to create alchemical items as long as you have the items' formulas in your formula book.
    <h3 class="h3-header">Infused Reagents</h3>You infuse reagents with your own alchemical essence, allowing you to create alchemical items
    at no cost. Each day during your daily preparations, you gain a number of batches of infused reagents equal to your
    level + your Intelligence modifier. You can use these reagents for either advanced alchemy or Quick Alchemy,
    described below. Together, these infused reagents have light Bulk.<br/><br/> As soon as you make your next daily
    preparations, your infused reagents from the previous day's preparations are instantly destroyed, and nonpermanent
    effects of your previous day's infused items immediately end. While infused reagents are physical objects, they
    can't be duplicated, preserved, or created in any way other than your daily preparations. Any such artificial
    reagents lack the infusion and are useless for advanced alchemy or Quick Alchemy.<h3 class="h3-header">Advanced
    Alchemy</h3>During your daily preparations, after producing new infused reagents, you can spend batches of those
    infused reagents to create infused alchemical items. You don't need to attempt a Crafting check to do this, and you
    ignore both the number of days typically required to create the items and any alchemical reagent requirements. Your
    advanced alchemy level is equal to your level. For each batch of infused reagents you spend, choose an alchemical
    item of your advanced alchemy level or lower that's in your formula book, and make a batch of two of that item.
    These items have the [[trait/94|infused]] trait and remain potent for 24 hours or until your next daily
    preparations, whichever comes first.<h3 class="h3-header">Quick Alchemy</h3>If you need a specific alchemical item
    on the fly, you can use your infused reagents to quickly create it with the Quick Alchemy action.
    <div class="viewbox">{{ viewbox(type="action", id=2, name="Quick Alchemy") }}</div>
    <h2 class="h2-header">Formula Book</h2>An alchemist keeps meticulous records of the formulas for every item they can
    create. You start with a standard [[equipment/22|formula book]] worth 10 sp or less for free. The formula book
    contains the formulas for two common 1st-level alchemical items of your choice, in addition to those you gained from
    Alchemical Crafting and your research field. Alchemical Items can be found here.<br/><br/> Each time you gain a
    level, you can add the formulas for two common alchemical items to your formula book. These new formulas can be for
    any level of item you can create. You learn these formulas automatically, but it's also possible to find or buy
    additional formulas in settlements or from other alchemists, or to invent them with the [[feat/798|Inventor]] feat.
    <h3 class="h3-header">Sample Formula Book</h3>You can choose any 1st-level common alchemical items for your formula
    book, but the list below contains a good selection of starter formulas. A beginner’s book with these formulas called
    <i>The Fundamentals of Alchemy</i> has become popular among mainstream alchemists by staying away from controversial
    topics like mutagens, though it has drawn criticism from fringe alchemists for guiding fledgling alchemists away
    from more innovative experiments.<br/><br/> <b>Alchemical Item Formulas</b>: [[equipment/74|Lesser acid flask]],
    [[equipment/75|lesser alchemist’s fire]], [[equipment/80|lesser antidote]], [[equipment/81|lesser antiplague]],
    [[equipment/86|lesser cheetah’s elixir]], [[equipment/91|lesser elixir of life]], [[equipment/78|lesser tanglefoot
    bag]], [[equipment/135|lesser smokestick]].<br/>
    <h2 class="h2-header">Research Field</h2>Your inquiries into the alchemical nature of the universe have led you to
    focus on a particular field of research. You might have a degree from a scientific institute, correspond with other
    researchers in your field, or work as a genius loner. Choose a field of research.<br/><br/> Your research field adds
    a number of formulas to your formula book; these are your signature items. When using a batch of infused reagents to
    create your signature items using advanced alchemy, you create three items instead of two. Each time you gain a
    level, you can swap one of your signature items with another formula in your formula book. This new signature item
    must be on your research field's list of possible signature items.<br/><br/>Research fields can be found here.<br/>
    <h2 class="h2-header">Alchemist Feats</h2>At 1st level and every even-numbered level thereafter, you gain an
    alchemist class feat.<br/>
    <h2 class="h2-header">Skill Feats<span class="item-type">Level 2</span></h2>At 2nd level and every 2 levels
    thereafter, you gain a skill feat. Skill feats can be found in Chapter 5 and have the skill trait. You must be
    trained or better in the corresponding skill to select a skill feat.<br/>
    <h2 class="h2-header">General Feats<span class="item-type">Level 3</span></h2>At 3rd level and every 4 levels
    thereafter, you gain a general feat. General feats are listed in Chapter 5.<br/>
    <h2 class="h2-header">Skill Increases<span class="item-type">Level 3</span></h2>At 3rd level and every 2 levels
    thereafter, you gain a skill increase. You can use this increase either to increase your proficiency rank to trained
    in one skill you’re untrained in, or to increase your proficiency rank in one skill in which you’re already trained
    to expert.<br/><br/> At 7th level, you can use skill increases to increase your proficiency rank to master in a
    skill in which you’re already an expert, and at 15th level, you can use them to increase your proficiency rank to
    legendary in a skill in which you’re already a master.<br/>
    <h2 class="h2-header">Ability Boosts<span class="item-type">Level 5</span></h2>At 5th level and every 5 levels
    thereafter, you boost four different ability scores. You can use these ability boosts to increase your ability
    scores above 18. Boosting an ability score increases it by 1 if it’s already 18 or above, or by 2 if it starts out
    below 18.<br/>
    <h2 class="h2-header">Ancestry Feats<span class="item-type">Level 5</span></h2>In addition to the ancestry feat you
    started with, you gain an ancestry feat at 5th level and every 4 levels thereafter. The list of ancestry feats
    available to you can be found in your ancestry’s entry in Chapter 2.<br/>
    <h2 class="h2-header">Field Discovery<span class="item-type">Level 5</span></h2>You learn a special discovery
    depending on your field. <br/>See specific research fields for more information.<br/>
    <h2 class="h2-header">Powerful Alchemy<span class="item-type">Level 5</span></h2>Alchemical items you create on the
    fly are particularly potent. When you use Quick Alchemy to create an infused alchemical item that allows a saving
    throw, you can change its DC to your class DC.<br/>
    <h2 class="h2-header">Alchemical Weapon Expertise<span class="item-type">Level 7</span></h2>You’ve trained to more
    effectively wield the weapons you find in your lab. Your proficiency ranks for simple weapons, unarmed attacks, and
    alchemical bombs increase to expert.<br/>
    <h2 class="h2-header">Iron Will<span class="item-type">Level 7</span></h2>Your mental defenses are an iron fortress.
    Your proficiency rank for Will saves increases to expert.<br/>
    <h2 class="h2-header">Perpetual Infusions<span class="item-type">Level 7</span></h2>You have learned how to create
    perpetual alchemical infusions that can provide a near-infinite supply of certain simple items. You gain the ability
    to create two 1st-level alchemical items using Quick Alchemy without spending a batch of infused reagents. The items
    you can select depend on your research field and must be in your formula book.<br/>See specific research fields
    for more information.<br/>
    <h2 class="h2-header">Alchemical Expertise<span class="item-type">Level 9</span></h2>Constant practice has increased
    the effectiveness of your concoctions. Your proficiency rank for your alchemist class DC increases to expert.<br/>
    <h2 class="h2-header">Alertness<span class="item-type">Level 9</span></h2>You remain alert to threats around you.
    Your proficiency rank for Perception increases to expert.<br/>
    <h2 class="h2-header">Double Brew<span class="item-type">Level 9</span></h2>You know your formulas so well that you
    can concoct two items at once. When using the Quick Alchemy action, instead of spending one batch of infused
    reagents to create a single item, you can spend up to two batches of infused reagents to make up to two alchemical
    items as described in that action. These items do not have to be the same.<br/>
    <h2 class="h2-header">Juggernaut<span class="item-type">Level 11</span></h2>Your body has become accustomed to
    physical hazards and resistant to pathogens and ailments. Your proficiency rank for Fortitude saves increases to
    master. When you roll a success on a Fortitude save, you get a critical success instead.<br/>
    <h2 class="h2-header">Perpetual Potency<span class="item-type">Level 11</span></h2>Your perpetual infusions improve,
    allowing you to use Quick Alchemy to create more powerful items with no cost. The items you can select depend on
    your research field and must be in your formula book.<br/><br/>See specific research fields for more
    information.<br/>
    <h2 class="h2-header">Greater Field Discovery<span class="item-type">Level 13</span></h2>You learn an incredible
    discovery that advances your understanding of your field.<br/><br/>See specific research fields for more
    information.<br/>
    <h2 class="h2-header">Medium Armor Expertise<span class="item-type">Level 13</span></h2>You’ve learned how to dodge
    while wearing medium, light or no armor. Your proficiency ranks for medium armor, light armor, and unarmored defense
    increase to expert.<br/>
    <h2 class="h2-header">Weapon Specialization<span class="item-type">Level 13</span></h2>You’ve learned how to inflict
    greater injuries with the weapons you know best. You deal 2 additional damage with weapons and unarmed attacks in
    which you are an expert. This damage increases to 3 if you’re a master, and to 4 if you’re legendary.<br/>
    <h2 class="h2-header">Alchemical Alacrity<span class="item-type">Level 15</span></h2>Your comfort in concocting
    items is such that you can create three at a time. When using the Quick Alchemy action, you can spend up to three
    batches of infused reagents to make up to three alchemical items as described in that action. These items do not
    have to be the same, and you automatically stow one of these new items as you create them.<br/>
    <h2 class="h2-header">Evasion<span class="item-type">Level 15</span></h2>You’ve learned to move quickly to avoid
    explosions, dragon’s breath, and worse. Your proficiency rank for Reflex saves increases to master. When you roll a
    success on a Reflex save, you get a critical success instead.<br/>
    <h2 class="h2-header">Alchemical Mastery<span class="item-type">Level 17</span></h2>Your alchemical concoctions are
    incredibly effective. Your proficiency rank for your alchemist class DC increases to master.<br/>
    <h2 class="h2-header">Perpetual Perfection<span class="item-type">Level 17</span></h2>You have perfected your
    perpetual infusions, allowing you to use Quick Alchemy to create even more powerful items at no cost. The items you
    can select depend on your research field and must be in your formula book.<br/><br/>See specific research fields for
    more information.<br/>
    <h2 class="h2-header">Medium Armor Mastery<span class="item-type">Level 19</span></h2>Your skill with armor
    improves, increasing your ability to dodge blows. Your proficiency ranks for medium armor, light armor, and
    unarmored defense increase to master.
</div>

{% endif %}
