<div class="class-content">
    <b>Source</b> [[source/1|Core Rulebook]] <br/><i>Fighting for honor, greed, loyalty, or simply the thrill of battle,
    you are an undisputed master of weaponry and combat techniques. You combine your actions through clever combinations
    of opening moves, finishing strikes, and counterattacks whenever your foes are unwise enough to drop their guard.
    Whether you are a knight, mercenary, sharpshooter, or blade master, you have honed your martial skills into an art
    form and perform devastating critical attacks on your enemies.</i><br/><br/><b>Key Ability: STRENGTH OR
    DEXTERITY</b><br/>At 1st level, your class gives you an ability boost to your choice of Strength or
    Dexterity.<br/><br/><b>Hit Points: 10 plus your Constitution modifier</b><br/>You increase your maximum number of HP
    by this number at 1st level and every level thereafter.<br/>
    <div class="sidebar">
        <div class="sidebar-header">Key Terms</div>
        <p class="sidebar--p">You'll see the following key terms in many fighter class features.<br/><br/> <b>[[trait/73|Flourish]]</b>:
            Actions with this trait are special techniques that require too much exertion for you to perform frequently.
            You can use only 1 action with the flourish trait per turn.<br/><br/> <b>[[trait/123|Open]]</b>: These
            maneuvers work only as the first salvo in the attacks you make on your turn. You can use an action with the
            open trait only if you haven't used an action with the attack or open trait yet this turn.<br/><br/><b>[[trait/133|Press]]</b>:
            Actions with this trait allow you to follow up earlier attacks. An action with the press trait can be used
            only if you are currently affected by a multiple attack penalty. You can't use a press action when it's not
            your turn, even if you use the [[action/82|Ready]] activity.<br/><br/> Some actions with the press trait
            also grant an effect on a failure. The effects that are added on a failure don't apply on a critical
            failure. If your press action succeeds, you can choose to apply the failure effect instead. (For example,
            you may wish to do this when an attack deals no damage due to
            resistance.)<br/><br/><b>[[trait/152|Stance]]</b>: A stance is a general combat strategy that you enter by
            using an action with the stance trait, and you remain in for some time. A stance lasts until you get
            [[condition/38|knocked out]], until its requirements (if any) are violated, until the encounter ends, or
            until you enter a new stance, whichever comes first. After you take an action with the stance trait, you
            can't take another one for 1 round. You can enter or be in a stance only in encounter mode.</div>
    <h1 class="h1-header">Roleplaying the Fighter</h1>
    <h2 class="h2-header">During Combat Encounters...</h2>You strike with unmatched accuracy and use specialized combat
    techniques. A melee fighter stands between allies and enemies, attacking foes who try to get past. A ranged fighter
    delivers precise shots from a distance.<br/>
    <h2 class="h2-header">During Social Encounters...</h2>You can be an intimidating presence. This can be useful when
    negotiating with enemies, but is sometimes a liability in more genteel interactions.<br/>
    <h2 class="h2-header">While Exploring...</h2>You keep up your defenses in preparation for combat, and keep an eye
    out for hidden threats. You also overcome physical challenges in your way, breaking down doors, lifting obstacles,
    climbing adeptly, and leaping across pits.<br/>
    <h2 class="h2-header">In Downtime...</h2>You might perform manual labor or craft and repair armaments. If you know
    techniques you no longer favor, you might train yourself in new ones. If you’ve established your reputation, you
    might build an organization or a stronghold of your own.<br/>
    <h2 class="h2-header">You Might...</h2>
    <ul>
        <li>Know the purpose and quality of every weapon and piece of armor you own.</li>
        <li>Recognize that the danger of an adventurer’s life must be balanced out with great revelry or ambitious
            works.
        </li>
        <li>Have little patience for puzzles or problems that require detailed logic or study.</li>
    </ul>
    <h2 class="h2-header">Others Probably...</h2>
    <ul>
        <li>Find you intimidating until they get to know you—and maybe even after they get to know you.</li>
        <li>Expect you’re all brawn and no brains.</li>
        <li>Respect your expertise in the art of warfare and value your opinion on the quality of armaments.</li>
    </ul>
    <h1 class="h1-header">Initial Proficiencies</h1>At 1st level, you gain the listed proficiency ranks in the following
    statistics. You are untrained in anything not listed unless you gain a better proficiency rank in some other
    way.<br/>
    <h2 class="h2-header">Perception</h2>Expert in Perception<br/>
    <h2 class="h2-header">Saving Throws</h2>Expert in Fortitude<br/>Expert in Reflex<br/>Trained in Will<br/>
    <h2 class="h2-header">Skills</h2>Trained in your choice of [[skill/1|Acrobatics]] or [[skill/3|Athletics]]<br/>Trained
    in a number of additional skills equal to 3 plus your Intelligence modifier
    <br/>
    <h2 class="h2-header">Attacks</h2>Expert in simple weapons<br/>Expert in martial weapons<br/>Trained in advanced
    weapons<br/>Expert in unarmed attacks<br/>
    <h2 class="h2-header">Defenses</h2>Trained in all armor<br/>Trained in unarmored defense<br/>
    <h2 class="h2-header">Class DC</h2>Trained in fighter class DC<br/>
    <h1 class="h1-header">Class Features</h1>You gain these features as a Fighter. Abilities gained at higher levels
    list the levels at which you gain them next to the features' names.
    <table class="inner" style="float:left; margin:10px 10px 10px 0px; max-width:50%; overflow:hidden">
        <tbody>
        <tr>
            <th><b>Level</b></th>
            <th><b>Class Features</b></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Ancestry and background, initial proficiencies, attack of opportunity, fighter feat, shield block</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Fighter feat, skill feat</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Bravery, general feat, skill increase</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Fighter feat, skill feat</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Ability boosts, ancestry feat, fighter weapon mastery, skill increase</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Fighter feat, skill feat</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Battlefield surveyor, general feat, skill increase, weapon specialization</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Fighter feat, skill feat</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Ancestry feat, combat flexibility, juggernaut, skill increase</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Ability boosts, fighter feat, skill feat</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Armor expertise, fighter expertise, general feat, skill increase</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Fighter feat, skill feat</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Ancestry feat, skill increase, weapon legend</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Fighter feat, skill feat</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Ability boosts, evasion, general feat, greater weapon specialization, improved flexibility, skill
                increase
            </td>
        </tr>
        <tr>
            <td>16</td>
            <td>Fighter feat, skill feat</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Ancestry feat, armor mastery, skill increase</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Fighter feat, skill feat</td>
        </tr>
        <tr>
            <td>19</td>
            <td>General feat, skill increase, versatile legend</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Ability boosts, fighter feat, skill feat</td>
        </tr>
        </tbody>
    </table>
    <h2 class="h2-header">Ancestry and Background</h2>In addition to the abilities provided by your class at 1st level,
    you have the benefits of your selected ancestry and background, as described in Chapter 2.<br/>
    <h2 class="h2-header">Initial Proficiencies</h2>At 1st level you gain a number of proficiencies that represent your
    basic training. These proficiencies are noted at the start of this class.<br/>
    <h2 class="h2-header">Attack of Opportunity</h2>Ever watchful for weaknesses, you can quickly attack foes that leave
    an opening in their defenses. You gain the Attack of Opportunity reaction.
    <div class="viewbox">{{ viewbox(type="action", id=8, name="Attack of Opportunity") }}</div>
    <h2 class="h2-header">Fighter Feats</h2>At 1st level and every even-numbered level thereafter, you gain a fighter
    class feat.<br/>
    <h2 class="h2-header">Shield Block</h2>You gain the [[feat/839|Shield Block]] general feat, a reaction that lets you
    reduce damage with your shield.<br/>
    <h2 class="h2-header">Skill Feats<span class="item-type" style="margin-left:auto; margin-right:0">Level 2</span>
    </h2>At 2nd level and every 2 levels thereafter, you gain a skill feat. Skill feats can be found in Chapter 5 and
    have the skill trait. You must be trained or better in the corresponding skill to select a skill feat.<br/>
    <h2 class="h2-header">Bravery<span class="item-type" style="margin-left:auto; margin-right:0">Level 3</span></h2>
    Having faced countless foes and the chaos of battle, you have learned how to stand strong in the face of fear and
    keep on fighting. Your proficiency rank for Will saves increases to expert. When you roll a success at a Will save
    against a [[trait/68|fear]] effect, you get a critical success instead. In addition, anytime you gain the
    [[condition/19|frightened]] condition, reduce its value by 1.<br/>
    <h2 class="h2-header">General Feats<span class="item-type" style="margin-left:auto; margin-right:0">Level 3</span>
    </h2>At 3rd level and every 4 levels thereafter, you gain a general feat. General feats are listed in Chapter
    5.<br/>
    <h2 class="h2-header">Skill Increases<span class="item-type" style="margin-left:auto; margin-right:0">Level 3</span>
    </h2>At 3rd level and every 2 levels thereafter, you gain a skill increase. You can use this increase either to
    increase your proficiency rank to trained in one skill you’re untrained in, or to increase your proficiency rank in
    one skill in which you’re already trained to expert.<br/><br/> At 7th level, you can use skill increases to increase
    your proficiency rank to master in a skill in which you’re already an expert, and at 15th level, you can use them to
    increase your proficiency rank to legendary in a skill in which you’re already a master.<br/>
    <h2 class="h2-header">Ability Boosts<span class="item-type" style="margin-left:auto; margin-right:0">Level 5</span>
    </h2>At 5th level and every 5 levels thereafter, you boost four different ability scores. You can use these ability
    boosts to increase your ability scores above 18. Boosting an ability score increases it by 1 if it’s already 18 or
    above, or by 2 if it starts out below 18.<br/>
    <h2 class="h2-header">Ancestry Feats<span class="item-type" style="margin-left:auto; margin-right:0">Level 5</span>
    </h2>In addition to the ancestry feat you started with, you gain an ancestry feat at 5th level and every 4 levels
    thereafter. The list of ancestry feats available to you can be found in your ancestry’s entry in Chapter 2.<br/>
    <h2 class="h2-header">Fighter Weapon Mastery<span class="item-type"
                                                      style="margin-left:auto; margin-right:0">Level 5</span></h2>Hours
    spent training with your preferred weapons, learning and developing new combat techniques, have made you
    particularly effective with your weapons of choice. Choose one weapon group. Your proficiency rank increases to
    master with the simple weapons, martial weapons, and unarmed attacks in that group, and to expert with the advanced
    weapons in that group. You gain access to the critical specialization effects of all weapons and unarmed attacks for
    which you have master proficiency.<br/>
    <h2 class="h2-header">Battlefield Surveyor<span class="item-type"
                                                    style="margin-left:auto; margin-right:0">Level 7</span></h2>Whether
    taking stock of an enemy army or simply standing guard, you excel at observing your foes. Your proficiency rank for
    Perception increases to master. In addition, you gain a +2 circumstance bonus to Perception checks for initiative,
    making you faster to react during combat.<br/>
    <h2 class="h2-header">Weapon Specialization<span class="item-type"
                                                     style="margin-left:auto; margin-right:0">Level 7</span></h2>You’ve
    learned how to inflict greater injuries with the weapons you know best. You deal 2 additional damage with weapons
    and unarmed attacks in which you are an expert. This damage increases to 3 if you’re a master, and to 4 if you’re
    legendary.<br/>
    <h2 class="h2-header">Combat Flexibility<span class="item-type"
                                                  style="margin-left:auto; margin-right:0">Level 9</span></h2>Through
    your experience in battle, you can prepare your tactics to suit different situations. When you make your daily
    preparations, you gain one fighter feat of 8th level or lower that you don’t already have. You can use that feat
    until your next daily preparations. You must meet all of the feat’s other prerequisites.<br/>
    <h2 class="h2-header">Juggernaut<span class="item-type" style="margin-left:auto; margin-right:0">Level 9</span></h2>
    Your body is accustomed to physical hardship and resistant to ailments. Your proficiency rank for Fortitude saves
    increases to master. When you roll a success on a Fortitude save, you get a critical success instead.<br/>
    <h2 class="h2-header">Armor Expertise<span class="item-type"
                                               style="margin-left:auto; margin-right:0">Level 11</span></h2>You have
    spent so much time wearing armor that you know how to make the most of its protection. Your proficiency rank for
    light, medium, and heavy armor, as well as for unarmored defense, increase to expert. You gain the armor
    specialization effects of medium and heavy armor.<br/>
    <h2 class="h2-header">Fighter Expertise<span class="item-type"
                                                 style="margin-left:auto; margin-right:0">Level 11</span></h2>You’ve
    practiced your techniques to make them harder to resist. Your proficiency rank for your fighter class DC increases
    to expert.<br/>
    <h2 class="h2-header">Weapon Legend<span class="item-type" style="margin-left:auto; margin-right:0">Level 13</span>
    </h2>You've learned fighting techniques that apply to all armaments, and you've developed unparalleled skill with
    your favorite weapons. Your proficiency ranks for simple weapons, martial weapons, and unarmed attacks increase to
    master. Your proficiency rank for advanced weapons increases to expert.<br/><br/> You can select one weapon group
    and increase your proficiency ranks to legendary for all simple weapons, martial weapons, and unarmed attacks in
    that weapon group, and to master for all advanced weapons in that weapon group.<br/>
    <h2 class="h2-header">Evasion<span class="item-type" style="margin-left:auto; margin-right:0">Level 15</span></h2>
    You’ve learned to move quickly to avoid explosions, a dragon’s breath, and worse. Your proficiency rank for Reflex
    saves increases to master. When you roll a success on a Reflex save, you get a critical success instead.<br/>
    <h2 class="h2-header">Greater Weapon Specialization<span class="item-type" style="margin-left:auto; margin-right:0">Level 15</span>
    </h2>Your damage from weapon specialization increases to 4 with weapons and unarmed attacks in which you’re an
    expert, 6 if you’re a master, and 8 if you’re legendary.<br/>
    <h2 class="h2-header">Improved Flexibility<span class="item-type"
                                                    style="margin-left:auto; margin-right:0">Level 15</span></h2>Your
    extensive experience gives you even greater ability to adapt to each day’s challenges. When you use combat
    flexibility, you can gain two fighter feats instead of one. While the first feat must still be 8th level or lower,
    the second feat can be up to 14th level, and you can use the first feat to meet the prerequisites of the second
    feat. You must meet all of the feats’ prerequisites.<br/>
    <h2 class="h2-header">Armor Mastery<span class="item-type" style="margin-left:auto; margin-right:0">Level 17</span>
    </h2>Your skill with armor improves, increasing your ability to prevent blows. Your proficiency ranks for light,
    medium, and heavy armor, as well as for unarmored defense, increase to master.<br/>
    <h2 class="h2-header">Versatile Legend<span class="item-type"
                                                style="margin-left:auto; margin-right:0">Level 19</span></h2>You are
    nigh-unmatched with any weapon. Your proficiency ranks for simple weapons, martial weapons, and unarmed attacks
    increase to legendary, and your proficiency rank for advanced weapons increases to master. Your proficiency rank for
    your fighter class DC increases to master.<br/>
</div>