
<div class="class-content">
    <b>Source</b> [[source/98|Guns & Gears]]<br/><i>While some fear projectile weapons, you savor the searing flash,
    wild kick, and cloying smoke that accompanies a gunshot, or snap of the cable and telltale thunk of your crossbow
    just before your bolt finds purchase. Ready to draw a bead on an enemy at every turn, you rely on your reflexes,
    steady hand, and knowledge of your weapons to riddle your foes with holes. </i><br/><br/><b>Key Ability:
    DEXTERITY</b><br/>At 1st level, your class gives you an ability boost to Dexterity<br/><br/><b>Hit Points: 8 plus
    your Constitution modifier</b><br/>You increase your maximum number of HP by this number at 1st level and every
    level thereafter.<br/>
    <div class="sidebar">
        <div class="sidebar-header">Key Terms</div>
        <p class="sidebar--p">You'll see the following key terms in a number of gunslinger abilities.<br/><br/>
            <b>[[trait/73|Flourish]]</b>: Flourish actions are actions that require too much exertion to perform a large number
            in a row. You can use only 1 action with the flourish trait per turn.<br/><br/> <b>Misfire</b>: Firearms
            that are improperly maintained or subjected to unusual strain can misfire. If you attempt to fire a firearm
            that was fired the previous day or earlier and hasn't been cleaned since, roll a DC 5 flat check before
            making your attack roll. If you fail this misfire check, the weapon misfires and jams. The attack is an
            automatic critical failure, and you must use an Interact action to clear the jam before the weapon can be
            reloaded and fired again. Once you've spent at least an hour cleaning a weapon, you don't need to roll for a
            misfire until the next day unless an effect says otherwise. You can clean multiple firearms during this
            hour, up to a reasonable limit as determined by the GM (typically no more than five).<br/><br/> Some
            abilities cause a weapon to misfire as a part of their effects. If such a misfire happens as a result of an
            attack (due to an action that causes a misfire on a failed attack, for example), it retroactively makes the
            attack a critical failure.</div>
    <div class="sidebar-nofloat"><h2>Interacting to Reload</h2>The slinger's reload action from each gunslinger way, as
        well as many feats, give the ability to Interact to reload a weapon. This is enough to reload a weapon that
        takes 1 Interact action to reload, but only provides one of the Interact actions needed to reload a weapon with
        reload 2 or greater. As normal, you can provide the remaining Interact actions separately.
    </div>
    <h1 class="h1-header">Roleplaying the Gunslinger</h1>
    <h2 class="h2-header">During Combat Encounters...</h2>You strike from range with your firearms, seeking to defeat
    your opponents before they can pose a true threat. Depending on your choice of weapon, you might prefer to strike
    your opponent from a hidden position before they ever realize you're there, dash through a frenzied melee with
    pistols blazing, or glide effortlessly across the battlefield, waiting for the perfect moment to end the conflict
    with a single, well-placed shot.<br/>
    <h2 class="h2-header">During Social Encounters...</h2>You have a keen eye and can see things coming from farther
    than most. You might not be the life of the party, but your companions know to pay attention when your subtle nod or
    concerned grunt indicates that something's amiss.<br/>
    <h2 class="h2-header">While Exploring...</h2>You scout the group's position for incoming threats and help search for
    secret doors and hidden passages, keeping a weather eye out for unexpected threats.<br/>
    <h2 class="h2-header">In Downtime...</h2>You might craft ammunition or keep your complex weapons clean and
    maintained, and you might look for work that matches your unique talents, such as working as a blacksmith, engineer,
    or part of the local watch. You might wander from town to town, or stay put for a spell to enjoy the silence that
    lingers between gunfights.<br/>
    <h2 class="h2-header">You Might...</h2>
    <ul>
        <li>Seek out areas of great conflict where your unique choice of weaponry can help build your reputation.</li>
        <li>Explore new horizons, trusting your honed senses and deadly weapon to keep you safe.</li>
        <li>Demonstrate extensive knowledge about various types of guns and ammunition, along with curiosity about the
            latest in gun technology.
        </li>
    </ul>
    <h2 class="h2-header">Others Probably...</h2>
    <ul>
        <li>Assume that since you know how your gun works, you must also understand how to resolve other mechanical
            challenges.
        </li>
        <li>Underestimate you at first glance, thinking you rely on your gun because you lack any other skills.</li>
        <li>Respect your eternal vigilance, unyielding grit, and excellent aim.</li>
    </ul>
    <h1 class="h1-header">Initial Proficiencies</h1>At 1st level, you gain the listed proficiency ranks in the following
    statistics. You are untrained in anything not listed unless you gain a better proficiency rank in some other
    way.<br/>
    <h2 class="h2-header">Perception</h2>Expert in Perception<br/>
    <h2 class="h2-header">Saving Throws</h2>Expert in Fortitude<br/>Expert in Reflex<br/>Trained in Will<br/>
    <h2 class="h2-header">Skills</h2>Trained in one or more skills determined by your gunslinger's way<br/> Trained in a
    number of additional skills equal to 3 plus your Intelligence modifier<br/>
    <h2 class="h2-header">Attacks</h2>Expert in simple firearms and crossbows<br/> Expert in martial firearms and
    crossbows<br/> Trained in advanced firearms and crossbows<br/> Trained in simple weapons<br/> Trained in martial
    weapons<br/> Trained in unarmed attacks<br/>
    <h2 class="h2-header">Defenses</h2>Trained in light armor<br/> Trained in medium armor<br/> Trained in unarmored
    defense<br/>
    <h2 class="h2-header">Class DC</h2>Trained in gunslinger class DC<br/>
    <h1 class="h1-header">Class Features</h1>You gain these features as a Gunslinger. Abilities gained at higher levels
    list the levels at which you gain them next to the features' names.
    <table class="inner" style="float:left; margin:10px 10px 10px 0px; max-width:50%; overflow:hidden">
        <tbody>
        <tr>
            <th><b>Level</b></th>
            <th><b>Class Features</b></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Ancestry and background, initial proficiencies, gunslinger's way, initial deed, gunslinger feat,
                singular expertise
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Gunslinger feat, skill feat</td>
        </tr>
        <tr>
            <td>3</td>
            <td>General feat, skill increase, stubborn</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Gunslinger feat, skill feat</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Ability boosts, ancestry feat, gunslinger weapon mastery, skill increase</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Gunslinger feat, skill feat</td>
        </tr>
        <tr>
            <td>7</td>
            <td>General feat, skill increase, vigilant senses, weapon specialization</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Gunslinger feat, skill feat</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Advanced deed, ancestry feat, gunslinger expertise, skill increase</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Ability boosts, gunslinger feat, skill feat</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Evasion, general feat, skill increase</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Gunslinger feat, skill feat</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Ancestry feat, gunslinging legend, medium armor expertise, skill increase</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Gunslinger feat, skill feat</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Ability boosts, general feat, greater deed, greater weapon specialization, skill increase</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Gunslinger feat, skill feat</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Ancestry feat, juggernaut, shootist's edge, skill increase</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Gunslinger feat, skill feat</td>
        </tr>
        <tr>
            <td>19</td>
            <td>General feat, incredible senses, medium armor mastery, skill increase</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Ability boosts, gunslinger feat, skill feat</td>
        </tr>
        </tbody>
    </table>
    <h2 class="h2-header">Ancestry and Background</h2>In addition to those from your class at 1st level, you have the
    benefits of your selected ancestry and background.<br/>
    <h2 class="h2-header">Initial Proficiencies</h2>At 1st level, you gain a number of proficiencies that represent your
    basic training. These proficiencies are noted at the start of this class.<br/>
    <h2 class="h2-header">Gunslinger's Way</h2>All gunslingers have a particular way they follow, a combination of
    philosophy and combat style that defines both how they fight and the weapons they excel with. At 1st level, your way
    grants you an initial deed, a unique reload action called a slinger's reload, and proficiency with a particular
    skill. You also gain advanced and greater deeds at later levels, as well as access to way-specific feats.<br/><br/>
    Gunslinger ways can be found here.<br/>
    <h2 class="h2-header">Gunslinger Feats</h2>At 1st level and every even-numbered level, you gain a gunslinger class
    feat.<br/>
    <h2 class="h2-header">Singular Expertise</h2>You have particular expertise with guns and crossbows that grants you
    greater proficiency with them and the ability to deal more damage. You gain a +1 circumstance bonus to damage rolls
    with firearms and crossbows.<br/><br/> This intense focus on firearms and crossbows prevents you from reaching the
    same heights with other weapons. Your proficiency with unarmed attacks and with weapons other than firearms and
    crossbows can't be higher than trained, even if you gain an ability that would increase your proficiency in one or
    more other weapons to match your highest weapon proficiency (such as the weapon expertise feats many ancestries
    have). If you have gunslinger weapon mastery, the limit is expert, and if you have gunslinging legend, the limit is
    master.<br/>
    <h2 class="h2-header">Skill Feats<span class="item-type" style="margin-left:auto; margin-right:0">Level 2</span>
    </h2>At 2nd level and every even-numbered level, you gain a skill feat. You must be trained or better in the
    corresponding skill to select a skill feat.<br/>
    <h2 class="h2-header">General Feats<span class="item-type" style="margin-left:auto; margin-right:0">Level 3</span>
    </h2>At 3rd level and every 4 levels thereafter, you gain a general feat.<br/>
    <h2 class="h2-header">Skill Increases<span class="item-type" style="margin-left:auto; margin-right:0">Level 3</span>
    </h2>At 3rd level and every 2 levels thereafter, you gain a skill increase. You can use this increase either to
    increase your proficiency rank to trained in one skill you're untrained in, or to increase your proficiency rank in
    one skill in which you're already trained to expert.<br/><br/> At 7th level, you can use skill increases to become a
    master in a skill in which you're already an expert, and at 15th level, you can use them to become legendary in a
    skill in which you're already a master.<br/>
    <h2 class="h2-header">Stubborn<span class="item-type" style="margin-left:auto; margin-right:0">Level 3</span></h2>
    You don't like being told what to do, and you don't give up. Your proficiency rank for Will saves increases to
    expert. When you fail, but don't critically fail, a Will save against an effect that would give you the
    [[condition/6|controlled]] condition, you can attempt a second save against the effect at the start of your next
    turn. On a successful second save, the controlled condition ends, though any other effects remain. As normal,
    failing this second save doesn't allow you to attempt a third save on the subsequent turn.<br/>
    <h2 class="h2-header">Ability Boosts<span class="item-type" style="margin-left:auto; margin-right:0">Level 5</span>
    </h2>At 5th level and every 5 levels thereafter, you boost four different ability scores. You can use these ability
    boosts to increase your ability scores above 18. Boosting an ability score increases it by 1 if it's already 18 or
    above, or by 2 if it starts out below 18.<br/>
    <h2 class="h2-header">Ancestry Feats<span class="item-type" style="margin-left:auto; margin-right:0">Level 5</span>
    </h2>In addition to the ancestry feat you started with, you gain an ancestry feat at 5th level and every 4 levels
    thereafter.<br/>
    <h2 class="h2-header">Gunslinger Weapon Mastery<span class="item-type" style="margin-left:auto; margin-right:0">Level 5</span>
    </h2>You fully understand the best way to utilize your unique weapons. Your proficiency rank increases to master
    with simple and martial firearms and crossbows. Your proficiency rank for advanced firearms and crossbows, simple
    weapons, martial weapons, and unarmed attacks increases to expert. You gain access to the critical specialization
    effects for firearms and crossbows.<br/>
    <h2 class="h2-header">Vigilant Senses<span class="item-type" style="margin-left:auto; margin-right:0">Level 7</span>
    </h2>Through your adventures, you've developed keen awareness and attention to detail. Your proficiency rank for
    Perception increases to master.<br/>
    <h2 class="h2-header">Weapon Specialization<span class="item-type"
                                                     style="margin-left:auto; margin-right:0">Level 7</span></h2>You've
    learned how to inflict greater injuries with the weapons you know best. You deal 2 additional damage with weapons
    and unarmed attacks in which you are an expert. This damage increases to 3 if you're a master, and 4 if you're
    legendary.<br/>
    <h2 class="h2-header">Advanced Deed<span class="item-type" style="margin-left:auto; margin-right:0">Level 9</span>
    </h2>You've learned a powerful new technique of your chosen way. You gain the advanced deed ability of the way you
    chose at 1st level.<br/><br/> Gunslinger ways can be found here.<br/>
    <h2 class="h2-header">Gunslinger Expertise<span class="item-type"
                                                    style="margin-left:auto; margin-right:0">Level 9</span></h2>Your
    special shots become harder for opponents to predict or resist. Your proficiency rank for your gunslinger class DC
    increases to expert.<br/>
    <h2 class="h2-header">Evasion<span class="item-type" style="margin-left:auto; margin-right:0">Level 11</span></h2>
    You've learned to move quickly to avoid explosions, dragon's breath, and worse. Your proficiency rank for Reflex
    saves increases to master. When you roll a success on a Reflex save, you get a critical success instead.<br/>
    <h2 class="h2-header">Gunslinging Legend<span class="item-type"
                                                  style="margin-left:auto; margin-right:0">Level 13</span></h2>You've
    learned unique techniques for wielding firearms and crossbows that give you unmatched skill in their use. Your
    proficiency rank increases to legendary with simple and martial firearms and crossbows and to master with advanced
    firearms and crossbows. Your proficiency rank for simple weapons, martial weapons, and unarmed attacks increases to
    expert.<br/>
    <h2 class="h2-header">Medium Armor Expertise<span class="item-type" style="margin-left:auto; margin-right:0">Level 13</span>
    </h2>You've learned to defend yourself better against attacks. Your proficiency ranks for light armor, medium armor,
    and unarmored defense increase to expert.<br/>
    <h2 class="h2-header">Greater Deed<span class="item-type" style="margin-left:auto; margin-right:0">Level 15</span>
    </h2>You've mastered the pinnacle technique of your chosen way. You gain the greater deed ability of the way you
    chose at 1st level.<br/><br/> Gunslinger ways can be found here.<br/>
    <h2 class="h2-header">Greater Weapon Specialization<span class="item-type" style="margin-left:auto; margin-right:0">Level 15</span>
    </h2>Your damage from weapon specialization increases to 4 with weapons and unarmed attacks in which you're an
    expert, 6 if you're a master, and 8 if you're legendary.<br/>
    <h2 class="h2-header">Juggernaut<span class="item-type" style="margin-left:auto; margin-right:0">Level 17</span>
    </h2>Your body has become accustomed to physical hazards and resistant to ailments. Your proficiency rank for
    Fortitude saves increases to master. When you roll a success on a Fortitude save, you get a critical success
    instead.<br/>
    <h2 class="h2-header">Shootist's Edge<span class="item-type"
                                               style="margin-left:auto; margin-right:0">Level 17</span></h2>You make
    shots others find impossible. Your proficiency rank for your gunslinger class DC increases to master. When using a
    ranged weapon in which you have master or greater proficiency, you ignore the penalty for attacking within the
    weapon's second and third range increments.<br/>
    <h2 class="h2-header">Incredible Senses<span class="item-type"
                                                 style="margin-left:auto; margin-right:0">Level 19</span></h2>You notice
    things that most people can't detect. Your proficiency rank for Perception increases to legendary.<br/>
    <h2 class="h2-header">Medium Armor Mastery<span class="item-type"
                                                    style="margin-left:auto; margin-right:0">Level 19</span></h2>Your
    skill with light and medium armor improves, increasing your ability to dodge or absorb blows. Your proficiency ranks
    for light armor, medium armor, and unarmored defense increase to master.<br/>
</div>