
<div class="class-content">
    <b>Source</b> [[source/129|Dark Archive]]<br/><i>The world is full of the unexplainable: ancient magic, dead gods,
    and even stranger things. In response, you've scavenged the best parts of every magical tradition and built up a
    collection of esoterica—a broken holy relic here, a sprig of mistletoe there—that you can use to best any creature
    by exploiting their weaknesses and vulnerabilities. The mystic implement you carry is both badge and weapon, its
    symbolic weight helping you bargain with and subdue the supernatural. Every path to power has its restrictions and
    costs, but you turn them all to your advantage. You're a thaumaturge, and you work wonders.</i><br/><br/><b>Key
    Ability: CHARISMA</b><br/>At 1st level, your class gives you an ability boost to Charisma.<br/><br/><b>Hit Points: 8
    plus your Constitution modifier</b><br/>You increase your maximum number of HP by this number at 1st level and every
    level thereafter.<br/>
    <div class="sidebar">
        <div class="sidebar-header">Key Terms</div>
        <p class="sidebar--p">You'll see the following key terms in many thaumaturge class features.<br/><br/> <b>[[trait/427|Esoterica]]</b>:
            The esoterica trait is present in many thaumaturge feats and class features that incorporate the various
            talismans, supernatural trinkets, and other objects you carry with you. Abilities that have the esoterica
            trait require you to be in possession of your esoterica to use them. Normally, you're assumed to always have
            your esoterica with you, but in some rare circumstances, you might either not have them on hand or have your
            gear stripped from you.<br/><br/> <b>Temporary Items</b>: Several feats allow you to prepare temporary
            items. Much like the [[trait/94|infused]] items created by [[class_/1|alchemists]], these temporary items
            last only a short time before becoming useless. Temporary items are clearly not up to the same quality as
            other items, so they typically can't be sold. If an ability doesn't list how long a temporary item lasts,
            the item lasts until the next time you make your daily preparations. Any effect created by a temporary item
            also ends at that time if it hasn't already (unless it's a permanent effect).</p>
    </div>

    <div class="bordered-box">
        <div class="box-simple-header">Cards and Astrology</div>
        <p>The thaumaturge class draws inspiration from symbolism
        pertaining to both real-world and fantasy beliefs about divination via cards or reading the stars. The class
        references the following Golarion- specific divination deck and zodiacs.<br/><br/> The <b>Harrow</b> is a
        divination deck similar to tarot on Earth, but with six suits of nine cards each. The suits each have a
        symbological correspondence with one of the six ability scores. For example, the suit of hammers has a
        connotation of strength, and the suit of books is related to learning and intelligence.<br/><br/> The <b>Cosmic
            Caravan</b> is an astrological zodiac especially common among Varisians but used throughout various regions
        in the Inner Sea, imagining the 13 different signs as members of a traveling caravan as well as locations and
        people encountered on the journey.<br/><br/> The <b>Dragon Empires Zodiac</b> is popular across the continent of
        Tian Xia, particularly with the oracles of Po Li, who use it to help craft laws. It contains 12 signs,
        comprising the five types of [[monsterfamily/226|imperial dragon]] as well as other creatures and archetypes of
            import in Tian Xia.</p>
    </div>
    <h1 class="h1-header">Roleplaying the Thaumaturge</h1>
    <h2 class="h2-header">During Combat Encounters...</h2>You use your implements and diverse arsenal of mystic tools
    and tricks to assist in combat, always presenting the right bane to exploit enemies' weaknesses or shield your
    allies against the supernatural.<br/>
    <h2 class="h2-header">During Social Encounters...</h2>You understand and nudge the social connections between
    people, much as you strive to understand the larger ties between mysteries and concepts. This helps you to find
    common ground when negotiating between the mundane and supernatural or even to play one side against the other.<br/>
    <h2 class="h2-header">While Exploring...</h2>You investigate unexplainable phenomena around you, taking appropriate
    precautions to ward yourself and your allies against paranormal threats. Where necessary, you create your own path
    through the unknown.<br/>
    <h2 class="h2-header">In Downtime...</h2>You research deeper into the supernatural mysteries you discovered on your
    last adventure to see how they can be applied in the future. You dust off relics, cultivate herbs, or forge
    trinkets, updating your collection of scavenged supernatural tools after each new threat you encounter. You return
    or call in favors with other people, strange creatures, and mystical forces.<br/>
    <h2 class="h2-header">You Might...</h2>
    <ul>
        <li>Prepare for the worst while improvising as necessary, impressing your allies when you're able to handle
            anything that fate throws at you.
        </li>
        <li>Assume everything is connected on a deeper level, rather than be content with what you find on the
            surface.
        </li>
        <li>Obsess over a certain supernatural phenomenon, attempting to tie everything back to it.</li>
    </ul>
    <h2 class="h2-header">Others Probably...</h2>
    <ul>
        <li>Look to you to learn the weaknesses of a supernatural threat when one rears its head. Even when your
            explanations are invented on the fly, they just seem to work.
        </li>
        <li>Rely on you to come up with a solution when the situation seems hopeless.</li>
        <li>Mistake you for a common [[class_/12|wizard]] or magician.</li>
    </ul>
    <h1 class="h1-header">Initial Proficiencies</h1>At 1st level, you gain the listed proficiency ranks in the following
    statistics. You are untrained in anything not listed unless you gain a better proficiency rank in some other
    way.<br/>
    <h2 class="h2-header">Perception</h2>Expert in Perception<br/>
    <h2 class="h2-header">Saving Throws</h2>Expert in Fortitude<br/>Trained in Reflex<br/>Expert in Will<br/>
    <h2 class="h2-header">Skills</h2>Trained in [[skill/2|Arcana]], [[skill/10|Nature]], [[skill/11|Occultism]], and
    [[skill/13|Religion]]<br/> Trained in a number of additional skills equal to 3 plus your Intelligence modifier<br/>
    <h2 class="h2-header">Attacks</h2>Trained in simple weapons<br/> Trained in martial weapons<br/> Trained in unarmed
    attacks<br/>
    <h2 class="h2-header">Defenses</h2>Trained in light armor<br/> Trained in medium armor<br/> Trained in unarmored
    defense<br/>
    <h2 class="h2-header">Class DC</h2>Trained in thaumaturge class DC<br/>
    <h1 class="h1-header">Class Features</h1>You gain these features as a Thaumaturge. Abilities gained at higher levels
    list the levels at which you gain them next to the features' names.
    <table class="inner" style="float:left; margin:10px 10px 10px 0px; max-width:50%; overflow:hidden">
        <tbody>
        <tr>
            <th><b>Level</b></th>
            <th><b>Class Features</b></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Ancestry and background, initial proficiencies, esoteric lore, first implement and esoterica,
                implement's empowerment, thaumaturge feat
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Skill feat, thaumaturge feat</td>
        </tr>
        <tr>
            <td>3</td>
            <td>General feat, lightning reflexes, skill increase</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Skill feat, thaumaturge feat</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Ability boosts, ancestry feat, second implement, skill increase, thaumaturge weapon expertise</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Skill feat, thaumaturge feat</td>
        </tr>
        <tr>
            <td>7</td>
            <td>General feat, implement adept, resolve, skill increase, weapon specialization</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Skill feat, thaumaturge feat</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Ancestry feat, intensify vulnerability, skill increase, thaumaturgic expertise, vigilant senses</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Ability boosts, skill feat, thaumaturge feat</td>
        </tr>
        <tr>
            <td>11</td>
            <td>General feat, medium armor expertise, second adept, skill increase</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Skill feat, thaumaturge feat</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Ancestry feat, greater resolve, skill increase, weapon mastery</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Skill feat, thaumaturge feat</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Ability boosts, general feat, greater weapon specialization, juggernaut, skill increase, third
                implement
            </td>
        </tr>
        <tr>
            <td>16</td>
            <td>Skill feat, thaumaturge feat</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Ancestry feat, implement paragon, skill increase, thaumaturgic mastery</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Skill feat, thaumaturge feat</td>
        </tr>
        <tr>
            <td>19</td>
            <td>General feat, medium armor mastery, skill increase, unlimited esoterica</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Ability boosts, skill feat, thaumaturge feat</td>
        </tr>
        </tbody>
    </table>
    <h2 class="h2-header">Ancestry and Background</h2>In addition to the abilities provided by your class at 1st level,
    you have the benefits of your selected ancestry and background.<br/>
    <h2 class="h2-header">Initial Proficiencies</h2>At 1st level, you gain a number of proficiencies that represent your
    basic training. These proficiencies are noted at the start of this class.<br/>
    <h2 class="h2-header">Esoteric Lore</h2>Your experience with the unknown, as well as the tales you've exchanged with
    other thaumaturges, has taught you about strange phenomena of every kind. You become trained in [[skill/8|Esoteric
    Lore]], a special lore skill that can be used to [[action/26|Recall Knowledge]] regarding [[trait/88|haunts]],
    [[trait/38|curses]], and creatures of any type, but that can't be used to Recall Knowledge of other topics. Unlike a
    normal Lore skill, you use Charisma as your modifier on Esoteric Lore checks. You also gain the [[feat/776|Dubious
    Knowledge]] skill feat.<br/><br/> At 3rd level, you become an expert in Esoteric Lore; at 7th level, you become a
    master in Esoteric Lore; and at 15th level, you become legendary in Esoteric Lore.<br/>
    <h2 class="h2-header">First Implement and Esoterica</h2>Your implement is a special object of symbolic importance:
    your badge as you treat with the supernatural and a powerful tool if things turn violent. Choose an implement from
    the options to which you have access. You begin play with a mundane item of that type, and you gain the initiate
    benefit for that implement. While an implement is useful to you, it typically has no value if sold. If you acquire a
    new object of the same general implement type, you can switch your implement to the new object by spending 1 day of
    downtime with the new item. As you advance as a thaumaturge, you will collect up to three implements and unlock the
    hidden potential stored within each, so you can mix and match their benefits to suit your situation.<br/><br/> While
    your implements are your primary tools in your dealings with the supernatural, you know the value of always being
    prepared. You constantly collect and carry various smaller mystic objects, bits of materials with paranormal
    affinities, and items used in folk practices: your esoterica. These might include [[equipment/272|cold iron]] nails,
    scraps of scrolls and scriptures, fragments of bones purportedly from a saint, and other similar objects. You keep
    your esoterica in easy-to-access places on your person and are well practiced in brandishing your implement and
    esoterica together, so you can draw and use esoterica with the same hand you're using to wield an
    implement.<br/><br/>Implements can be found here. <h2 class="h2-header">Exploit Vulnerability</h2> You know that
    every creature, no matter how obscure, has a weakness. By identifying and empowering the right object, you can
    strike down even the most resilient of monsters.<br/><br/> You gain the Exploit Vulnerability action.
    <div class="viewbox">{{ viewbox(type="action", id=1227, name="Exploit Vulnerability") }}</div>
    <h2 class="h2-header">Implement's Empowerment</h2>The power of your implement can also be turned to the more common
    task of combat, its power adding to and amplifying the effects of runes and other magical empowerments. When you
    Strike, you can trace mystic patterns with an implement you're holding to empower the Strike, causing it to deal 2
    additional damage per weapon damage die. Channeling the power requires full use of your hands. You don't gain the
    benefit of implement's empowerment if you are holding anything in either hand other than a single one-handed weapon,
    other implements, or esoterica, and you must be holding at least one implement to gain the benefit.<br/>
    <h2 class="h2-header">Thaumaturge Feats</h2>At 1st level and every even-numbered level, you gain a thaumaturge class
    feat.<br/>
    <h2 class="h2-header">Skill Feats<span class="item-type" style="margin-left:auto; margin-right:0">Level 2</span>
    </h2>At 2nd level and every 2 levels thereafter, you gain a skill feat. You must be trained or better in the
    corresponding skill to select a skill feat.<br/>
    <h2 class="h2-header">General Feats<span class="item-type" style="margin-left:auto; margin-right:0">Level 3</span>
    </h2>At 3rd level and every 4 levels thereafter, you gain a general feat .<br/>
    <h2 class="h2-header">Lightning Reflexes<span class="item-type"
                                                  style="margin-left:auto; margin-right:0">Level 3</span></h2>Your
    reflexes are lightning fast. Your proficiency rank for Reflex saves increases to expert.<br/>
    <h2 class="h2-header">Skill Increases<span class="item-type" style="margin-left:auto; margin-right:0">Level 3</span>
    </h2>At 3rd level and every 2 levels thereafter, you gain a skill increase. You can use this increase to either
    become trained in one skill you're untrained in, or become an expert in one skill in which you're already
    trained.<br/><br/> At 7th level, you can use skill increases to become a master in a skill in which you're already
    an expert, and at 15th level, you can use them to become legendary in a skill in which you're already a master.<br/>
    <h2 class="h2-header">Ability Boosts<span class="item-type" style="margin-left:auto; margin-right:0">Level 5</span>
    </h2>At 5th level and every 5 levels thereafter, you boost four different ability scores. You can use these ability
    boosts to increase your ability scores above 18. Boosting an ability score increases it by 1 if it's already 18 or
    above, or by 2 if it starts out below 18.<br/>
    <h2 class="h2-header">Ancestry Feats<span class="item-type" style="margin-left:auto; margin-right:0">Level 5</span>
    </h2>In addition to the ancestry feat you started with, you gain an ancestry feat at 5th level and every 4 levels
    thereafter.<br/>
    <h2 class="h2-header">Second Implement<span class="item-type"
                                                style="margin-left:auto; margin-right:0">Level 5</span></h2>You've added
    another implement of power to your toolkit. You choose a second implement, which must be a different type of
    implement than your first. You gain the initiate benefit of your new implement.<br/><br/> While you're holding an
    implement in one hand, you can quickly switch it with another implement you're wearing to use an action from the
    implement you're switching to. To do so, you can Interact as a free action immediately before executing the
    implement's action. This allows you to meet requirements of having an implement in hand to use its action. For
    example, if you had your lantern implement in one hand, a weapon in the other, and a chalice implement you were
    wearing, you could swap your lantern for your chalice to use its reaction.<br/>
    <h2 class="h2-header">Thaumaturge Weapon Expertise<span class="item-type" style="margin-left:auto; margin-right:0">Level 5</span>
    </h2>You've learned the secret ways your weapons work most effectively. Your proficiency ranks for
    [[trait/199|unarmed]] attacks, simple weapons, and martial weapons increase to expert.<br/>
    <h2 class="h2-header">Implement Adept<span class="item-type" style="margin-left:auto; margin-right:0">Level 7</span>
    </h2>You have deepened your connection to one of your implements, unlocking its adept power. Choose one of your
    implements and gain the adept benefit for that implement.<br/>
    <h2 class="h2-header">Resolve<span class="item-type" style="margin-left:auto; margin-right:0">Level 7</span></h2>
    You've steeled your mind with resolve. Your proficiency rank for Will saves increases to master. When you roll a
    success on a Will save, you get a critical success instead.<br/>
    <h2 class="h2-header">Weapon Specialization<span class="item-type"
                                                     style="margin-left:auto; margin-right:0">Level 7</span></h2>You've
    learned how to inflict greater injuries with the weapons you know best. You deal 2 additional damage with weapons
    and unarmed attacks in which you are an expert. This damage increases to 3 if you're a master, and 4 if you're
    legendary.<br/>
    <h2 class="h2-header">Intensify Vulnerability<span class="item-type" style="margin-left:auto; margin-right:0">Level 9</span>
    </h2>You've learned to use your implement to further assault a creature whose vulnerabilities you're exploiting. You
    gain the intensify vulnerability benefit of all of your implements, as well as the following action.
    <div class="viewbox">{{ viewbox(type="action", id=1228, name="Intensify Vulnerability") }}</div>
    <h2 class="h2-header">Thaumaturgic Expertise<span class="item-type"
                                                      style="margin-left:auto; margin-right:0">Level 9</span></h2>You've
    learned deeper secrets of the supernatural, and your abilities are harder to resist. Your proficiency rank for your
    thaumaturge class DC increases to expert. <br/><br/>You also gain an additional skill increase, which you can apply
    only to [[skill/2|Arcana]], [[skill/10|Nature]], [[skill/11|Occultism]], or [[skill/13|Religion]].<br/>
    <h2 class="h2-header">Vigilant Senses<span class="item-type" style="margin-left:auto; margin-right:0">Level 9</span>
    </h2>Through your adventures, you've developed keen awareness and attention to detail. Your proficiency rank for
    Perception increases to master.<br/>
    <h2 class="h2-header">Medium Armor Expertise<span class="item-type" style="margin-left:auto; margin-right:0">Level 11</span>
    </h2>You've learned to defend yourself better against attacks. Your proficiency ranks for light armor, medium armor,
    and unarmored defense increase to expert.<br/>
    <h2 class="h2-header">Second Adept<span class="item-type" style="margin-left:auto; margin-right:0">Level 11</span>
    </h2>You've improved your link to your second implement. You gain the adept benefit of your second implement.<br/>
    <h2 class="h2-header">Greater Resolve<span class="item-type"
                                               style="margin-left:auto; margin-right:0">Level 13</span></h2>Your
    unbelievable training grants you mental resiliency. Your proficiency rank for Will saves increases to legendary.
    When you roll a critical failure on a Will save, you get a failure instead. When you roll a failure on a Will save
    against a damaging effect, you take half damage.<br/>
    <h2 class="h2-header">Weapon Mastery<span class="item-type" style="margin-left:auto; margin-right:0">Level 13</span>
    </h2>You fully understand your weapons. Your proficiency ranks for [[trait/199|unarmed]] attacks, simple weapons,
    and martial weapons increase to master.<br/>
    <h2 class="h2-header">Greater Weapon Specialization<span class="item-type" style="margin-left:auto; margin-right:0">Level 15</span>
    </h2>Your damage from weapon specialization increases to 4 with weapons and unarmed attacks in which you're an
    expert, 6 if you're a master, and 8 if you're legendary.<br/>
    <h2 class="h2-header">Juggernaut<span class="item-type" style="margin-left:auto; margin-right:0">Level 15</span>
    </h2>Your body is accustomed to physical hardship and resistant to a wide range of ailments. Your proficiency rank
    for Fortitude saves increases to master. When you roll a success on a Fortitude save, you get a critical success
    instead.<br/>
    <h2 class="h2-header">Third Implement<span class="item-type"
                                               style="margin-left:auto; margin-right:0">Level 15</span></h2>As you come
    closer to the culmination of your journey, you gain your final implement, completing your set of three. It must be a
    different type of implement than your first and second implements. You gain the initiate benefit and intensify
    vulnerability benefit of your new implement.<br/>
    <h2 class="h2-header">Implement Paragon<span class="item-type"
                                                 style="margin-left:auto; margin-right:0">Level 17</span></h2>You have
    unlocked the last secrets of an implement. Choose one of your implements that already gained the adept benefit; you
    gain the paragon benefit for that implement.<br/>
    <h2 class="h2-header">Thaumaturgic Mastery<span class="item-type"
                                                    style="margin-left:auto; margin-right:0">Level 17</span></h2>You've
    become a master in paranormal phenomena, and your esoterica grow in power. Your proficiency rank for your
    thaumaturge class DC increases to master. <br/><br/>You also gain an additional skill increase, which you can apply
    only to [[skill/2|Arcana]], [[skill/10|Nature]], [[skill/11|Occultism]], or [[skill/13|Religion]].<br/>
    <h2 class="h2-header">Medium Armor Mastery<span class="item-type"
                                                    style="margin-left:auto; margin-right:0">Level 19</span></h2>Your
    skill with light and medium armor improves, increasing your ability to avoid blows. Your proficiency ranks for light
    and medium armor, as well as for unarmed defense, increase to master.<br/>
    <h2 class="h2-header">Unlimited Esoterica<span class="item-type"
                                                   style="margin-left:auto; margin-right:0">Level 19</span></h2>Your
    understanding of your esoterica becomes so complete that you can access your mystic tools without even thinking. You
    can use Exploit Vulnerability or Intensify Vulnerability as a free action, rather than a single action, though still
    with a frequency of only once per round.<br/>


</div>