<div class="class-content">
    <b>Source</b> [[source/1|Core Rulebook]] <br/><i>You are an eternal student of the arcane secrets of the universe,
    using your mastery of magic to cast powerful and devastating spells. You treat magic like a science,
    cross-referencing the latest texts on practical spellcraft with ancient esoteric tomes to discover and understand
    how magic works. Yet magical theory is vast, and there’s no way you can study it all. You either specialize in one
    of the eight schools of magic, gaining deeper understanding of the nuances of those spells above all others, or
    favor a broader approach that emphasizes the way all magic comes together at the expense of depth.</i><br/><br/><b>Key
    Ability: INTELLIGENCE</b><br/>At 1st level, your class gives you an ability boost to Intelligence.<br/><br/><b>Hit
    Points: 6 plus your Constitution modifier</b><br/>You increase your maximum number of HP by this number at 1st level
    and every level thereafter.<br/>
    <div class="sidebar">
        <div class="sidebar-header">Key Terms</div>
        <p class="sidebar--p">You'll see the following term in many wizard class features. <br/><br/><b>[[trait/107|Metamagic]]</b>:
            These actions tweak your spells. You must use a metamagic action directly before Casting the Spell you want
            to alter. If you use any action (including free actions and reactions) other than Cast a Spell directly
            after, you waste the benefits of the metamagic action. Effects added by a metamagic action are part of the
            spell's effect, not of the metamagic action.</div>
    <h1 class="h1-header">Roleplaying the Wizard</h1>
    <h2 class="h2-header">During Combat Encounters...</h2>You likely try to stay out of the fray, carefully judging when
    to use your spells. You save your most powerful magic to incapacitate threatening foes and use your cantrips when
    only weaker foes remain. When enemies pull out tricks like [[spell/164|invisibility]] or [[spell/125|flight]], you
    answer with spells like [[spell/136|glitterdust]] or [[spell/94|earth bind]], leveling the field for your
    allies.<br/>
    <h2 class="h2-header">During Social Encounters...</h2>You provide a well of knowledge about arcane matters and solve
    arguments with logic.<br/>
    <h2 class="h2-header">While Exploring...</h2>You locate magical auras and determine the arcane significance of
    magical writing or phenomena you uncover. When you run across an unusual obstacle to further exploration, you
    probably have a scroll that will make it easier to overcome.<br/>
    <h2 class="h2-header">In Downtime...</h2>You learn new spells, craft magic items, or scribe scrolls for your party,
    and seek out new and exciting formulas in addition to spells. You might even forge scholarly connections and
    establish a school or guild of your own.<br/>
    <h2 class="h2-header">You Might...</h2>
    <ul>
        <li>Have an unquenchable intellectual curiosity about how everything in the world around you works—magic in
            particular.
        </li>
        <li>Believe fervently that your school of magic is superior (if you’re a specialist) or that true mastery of
            magic requires knowledge of all schools (if you’re a universalist).
        </li>
        <li>Use esoteric jargon and technical terms to precisely describe the minutiae of magical effects, even though
            the difference is probably lost on other people.
        </li>
    </ul>
    <h2 class="h2-header">Others Probably...</h2>
    <ul>
        <li>Consider you to be incredibly powerful and potentially dangerous.</li>
        <li>Fear what your magic can do to their minds, bodies, and souls, and ask that you avoid casting spells in
            polite company, as few can identify whether one of your spells is harmless or malevolent until it’s too
            late.
        </li>
        <li>Assume you can easily solve all their problems, from dangerous weather to poor crop yields, and ask you for
            spells that can help them get whatever they desire.
        </li>
    </ul>
    <h1 class="h1-header">Initial Proficiencies</h1>At 1st level, you gain the listed proficiency ranks in the following
    statistics. You are untrained in anything not listed unless you gain a better proficiency rank in some other
    way.<br/>
    <h2 class="h2-header">Perception</h2>Trained in Perception<br/>
    <h2 class="h2-header">Saving Throws</h2>Trained in Fortitude<br/>Trained in Reflex<br/>Expert in Will<br/>
    <h2 class="h2-header">Skills</h2>Trained in [[skill/2|Arcana]]<br/>Trained in a number of additional skills equal to
    2 plus your Intelligence modifier
    <br/>
    <h2 class="h2-header">Attacks</h2>Trained in the [[weapon/2|club]], [[weapon/67|crossbow]], [[weapon/3|dagger]],
    [[weapon/70|heavy crossbow]], and [[weapon/12|staff]]<br/>Trained in unarmed attacks
    <br/>
    <h2 class="h2-header">Defenses</h2>Untrained in all armor<br/>Trained in unarmored defense<br/>
    <h2 class="h2-header">Spells</h2>Trained in arcane spell attacks<br/>Trained in arcane spell DCs<br/>
    <h1 class="h1-header">Class Features</h1>You gain these features as a Wizard. Abilities gained at higher levels list
    the levels at which you gain them next to the features' names.
    <table class="inner" style="float:left; margin:10px 10px 10px 0px; max-width:50%; overflow:hidden">
        <tbody>
        <tr>
            <th><b>Level</b></th>
            <th><b>Class Features</b></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Ancestry and background, initial proficiencies, arcane spellcasting, arcane school, arcane bond, arcane
                thesis
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Skill feat, wizard feat</td>
        </tr>
        <tr>
            <td>3</td>
            <td>2nd-level spells, general feat, skill increase</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Skill feat, wizard feat</td>
        </tr>
        <tr>
            <td>5</td>
            <td>3rd-level spells, ability boosts, ancestry feat, lightning reflexes, skill increase</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Skill feat, wizard feat</td>
        </tr>
        <tr>
            <td>7</td>
            <td>4th-level spells, expert spellcaster, general feat, skill increase</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Skill feat, wizard feat</td>
        </tr>
        <tr>
            <td>9</td>
            <td>5th-level spells, ancestry feat, magical fortitude, skill increase</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Ability boosts, skill feat, wizard feat</td>
        </tr>
        <tr>
            <td>11</td>
            <td>6th-level spells, alertness, general feat, skill increase, wizard weapon expertise</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Skill feat, wizard feat</td>
        </tr>
        <tr>
            <td>13</td>
            <td>7th-level spells, ancestry feat, defensive robes, skill increase, weapon specialization</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Skill feat, wizard feat</td>
        </tr>
        <tr>
            <td>15</td>
            <td>8th-level spells, ability boosts, general feat, master spellcaster, skill increase</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Skill feat, wizard feat</td>
        </tr>
        <tr>
            <td>17</td>
            <td>9th-level spells, ancestry feat, resolve, skill increase</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Skill feat, wizard feat</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Archwizard’s spellcraft, general feat, legendary spellcaster, skill increase</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Ability boosts, skill feat, wizard feat</td>
        </tr>
        </tbody>
    </table>
    <table class="inner table-spells" style="margin:10px 10px 10px 0px; overflow:hidden">
        <tbody>
        <tr>
            <th><b>Level</b></th>
            <th><b>Cantrips</b></th>
            <th><b>1st</b></th>
            <th><b>2nd</b></th>
            <th><b>3rd</b></th>
            <th><b>4th</b></th>
            <th><b>5th</b></th>
            <th><b>6th</b></th>
            <th><b>7th</b></th>
            <th><b>8th</b></th>
            <th><b>9th</b></th>
            <th><b>10th</b></th>
        </tr>
        <tr>
            <td>1</td>
            <td>5</td>
            <td>2</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>2</td>
            <td>5</td>
            <td>3</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>3</td>
            <td>5</td>
            <td>3</td>
            <td>2</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>5</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>2</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>6</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>7</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>2</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>8</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>9</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>2</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>10</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>11</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>2</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>12</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>13</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>2</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>14</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>—</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>15</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>2</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>16</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>—</td>
            <td>—</td>
        </tr>
        <tr>
            <td>17</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>2</td>
            <td>—</td>
        </tr>
        <tr>
            <td>18</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>—</td>
        </tr>
        <tr>
            <td>19</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>1*</td>
        </tr>
        <tr>
            <td>20</td>
            <td>5</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>1*</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="12">* The archwizard’s spellcraft class feature gives you a 10th-level spell slot that works a
                bit differently from other spell slots.
            </td>
        </tr>
        </tfoot>
    </table>
    <h2 class="h2-header">Ancestry and Background</h2>In addition to the abilities provided by your class at 1st level,
    you have the benefits of your selected ancestry and background, as described in Chapter 2.<br/>
    <h2 class="h2-header">Initial Proficiencies</h2>At 1st level, you gain a number of proficiencies that represent your
    basic training. These proficiencies are noted at the start of this class.<br/>
    <h2 class="h2-header">Arcane Spellcasting</h2>Through dedicated study and practice, you can harness arcane power to
    cast spells. You can cast arcane spells using the Cast a Spell activity, and you can supply material, somatic, and
    verbal components when casting spells (see Casting Spells).<br/><br/> At 1st level, you can prepare up to two
    1st-level spells and five cantrips each morning from the spells in your spellbook (see below), plus one extra
    cantrip and spell of your chosen school of each level you can cast if you are a specialist wizard. Prepared spells
    remain available to you until you cast them or until you prepare your spells again. The number of spells you can
    prepare is called your spell slots.<br/><br/> As you increase in level as a wizard, your number of spell slots and
    the highest level of spells you can cast from spell slots increase, shown in Table 3–19: Wizard Spells per Day.<br/><br/>
    Some of your spells require you to attempt a spell attack roll to see how effective they are, or have your enemies
    roll against your spell DC (typically by attempting a saving throw). Since your key ability is Intelligence, your
    spell attack rolls and spell DCs use your Intelligence modifier. Details on calculating these statistics appear in
    Spell Attack Rolls. <h3 class="h3-header">Heightening Spells</h3> When you get spell slots of 2nd level and higher,
    you can fill those slots with stronger versions of lower-level spells. This increases the spell's level, heightening
    it to match the spell slot. Many spells have specific improvements when they are heightened to certain levels. <h3
        class="h3-header">Cantrips</h3> Some of your spells are cantrips. A cantrip is a special type of spell that
    doesn't use spell slots. You can cast a cantrip at will, any number of times per day. A cantrip is automatically
    heightened to half your level rounded up—this is usually equal to the highest level of wizard spell slot you have.
    For example, as a 1st-level wizard, your cantrips are 1st-level spells, and as a 5th-level wizard, your cantrips are
    3rd-level spells.<h3 class="h3-header">Spellbook</h3> Every arcane spell has a written version, usually recorded in
    a spellbook. You start with a [[equipment/53|spellbook]] worth 10 sp or less, which you receive for free and must
    study to prepare your spells each day. The spellbook contains your choice of 10 arcane cantrips and five 1st-level
    arcane spells. You choose these from the common spells on the arcane spell list or from other arcane spells you gain
    access to. Your spellbook's form and name are up to you. It might be a musty, leather-bound tome or an assortment of
    thin metal disks connected to a brass ring; its name might be esoteric, like <i>The Crimson Libram</i>, or something
    more academic, like <i>A Field Study in Practical Transmutation</i>.<br/><br/> Each time you gain a level, you add
    two more arcane spells to your spellbook, of any level for which you have spell slots. You can also use the
    [[skill/2|Arcana]] skill to add other spells that you find in your adventures (See Learn a Spell).<h3
        class="h3-header">Sample Spellbook</h3>You can fill your spellbook with whichever spells you like, but the list
    below covers a good selection of starter spells for a 1st-level wizard. These are the exact spells found in <i>Structure
    and Interpretation of Arcane Magic</i>, a basic spellbook used by arcane academies and master wizards to teach
    apprentices good habits in arcane research. <br/><br/><b>Cantrips</b>: [[spell/3|Acid splash]], [[spell/66|detect
    magic]], [[spell/97|electric arc]], [[spell/171|light]], [[spell/177|mage hand]], [[spell/190|message]],
    [[spell/229|prestidigitation]], [[spell/245|ray of frost]], [[spell/246|read aura]], and [[spell/280|shield]]. <br/><br/><b>1st
    Level</b>: [[spell/30|Burning hands]], [[spell/44|color spray]], [[spell/140|grease]], [[spell/176|mage armor]], and
    [[spell/180|magic missile]], plus one spell of your school if you’re a specialist wizard.<br/>
    <h2 class="h2-header">Arcane School</h2>Many arcane spellcasters delve deeply into a single school of magic in an
    attempt to master its secrets. If you want to be a specialist wizard, choose a school in which to specialize. You
    gain additional spells and spell slots for spells of your school.<br/><br/> If you don’t choose a school, you’re a
    universalist, a wizard who believes that the path to true knowledge of magic requires a multidisciplinary
    understanding of all eight schools working together. Though a universalist lacks the focus of a specialist wizard,
    they have greater fiexibility.<br/><br/>Arcane schools can be found here<br/>
    <h2 class="h2-header">Arcane Bond</h2>You place some of your magical power in a bonded item. Each day when you
    prepare your spells, you can designate a single item you own as your bonded item. This is typically an item
    associated with spellcasting, such as a wand, ring, or staff, but you are free to designate a weapon or other item.
    You gain the Drain Bonded Item free action.
    <div class="viewbox">{{ viewbox(type="action", id=13, name="Drain Bonded Item") }}</div>
    <h2 class="h2-header">Arcane Thesis</h2>During your studies to become a full-fledged wizard, you produced a thesis
    of unique magical research on one of a variety of topics. You gain a special benefit depending on the topic of your
    thesis research. The arcane thesis topics presented in this book are below; your specific thesis probably has a much
    longer and more technical title like “On the Methods of Spell Interpolation and the Genesis of a New Understanding
    of the Building Blocks of Magic.”<br/><br/>Arcane theses can be found here.<br/>
    <h2 class="h2-header">Skill Feats<span class="item-type" style="margin-left:auto; margin-right:0">Level 2</span>
    </h2>At 2nd level and every 2 levels thereafter, you gain a skill feat. Skill feats can be found in Chapter 5 and
    have the skill trait. You must be trained or better in the corresponding skill to select a skill feat.<br/>
    <h2 class="h2-header">Wizard Feats<span class="item-type" style="margin-left:auto; margin-right:0">Level 2</span>
    </h2>At 2nd level and every even-numbered level thereafter, you gain a wizard class feat.<br/>
    <h2 class="h2-header">General Feats<span class="item-type" style="margin-left:auto; margin-right:0">Level 3</span>
    </h2>At 3rd level and every 4 levels thereafter, you gain a general feat. General feats are listed in Chapter
    5.<br/>
    <h2 class="h2-header">Skill Increases<span class="item-type" style="margin-left:auto; margin-right:0">Level 3</span>
    </h2>At 3rd level and every 2 levels thereafter, you gain a skill increase. You can use this increase either to
    increase your proficiency rank to trained in one skill you’re untrained in, or to increase your proficiency rank in
    one skill in which you’re already trained to expert.<br/><br/> At 7th level, you can use skill increases to increase
    your proficiency rank to master in a skill in which you’re already an expert, and at 15th level, you can use them to
    increase your proficiency rank to legendary in a skill in which you’re already a master.<br/>
    <h2 class="h2-header">Ability Boosts<span class="item-type" style="margin-left:auto; margin-right:0">Level 5</span>
    </h2>At 5th level and every 5 levels thereafter, you boost four different ability scores. You can use these ability
    boosts to increase your ability scores above 18. Boosting an ability score increases it by 1 if it’s already 18 or
    above, or by 2 if it starts out below 18.<br/>
    <h2 class="h2-header">Ancestry Feats<span class="item-type" style="margin-left:auto; margin-right:0">Level 5</span>
    </h2>In addition to the ancestry feat you started with, you gain an ancestry feat at 5th level and every 4 levels
    thereafter. The list of ancestry feats available to you can be found in your ancestry’s entry in Chapter 2.<br/>
    <h2 class="h2-header">Lightning Reflexes<span class="item-type"
                                                  style="margin-left:auto; margin-right:0">Level 5</span></h2>Your
    reflexes are lightning fast. Your proficiency rank for Reflex saves increases to expert.<br/>
    <h2 class="h2-header">Expert Spellcaster<span class="item-type"
                                                  style="margin-left:auto; margin-right:0">Level 7</span></h2>Extended
    practice of the arcane has improved your capabilities. Your proficiency ranks for arcane spell attack rolls and
    spell DCs increase to expert.<br/>
    <h2 class="h2-header">Magical Fortitude<span class="item-type"
                                                 style="margin-left:auto; margin-right:0">Level 9</span></h2>Magical
    power has improved your body’s resiliency. Your proficiency rank for Fortitude saves increases to expert.<br/>
    <h2 class="h2-header">Alertness<span class="item-type" style="margin-left:auto; margin-right:0">Level 11</span></h2>
    You remain alert to threats around you. Your proficiency rank for Perception increases to expert.<br/>
    <h2 class="h2-header">Wizard Weapon Expertise<span class="item-type" style="margin-left:auto; margin-right:0">Level 11</span>
    </h2>Through a combination of magic and training, you’ve learned how to wield wizard weapons more effectively. You
    gain expert proficiency in the club, crossbow, dagger, heavy crossbow, staff, and unarmed attacks.<br/>
    <h2 class="h2-header">Defensive Robes<span class="item-type"
                                               style="margin-left:auto; margin-right:0">Level 13</span></h2>The flow of
    magic and your training combine to help you avoid attacks. Your proficiency rank in unarmored defense increases to
    expert.<br/>
    <h2 class="h2-header">Weapon Specialization<span class="item-type"
                                                     style="margin-left:auto; margin-right:0">Level 13</span></h2>You’ve
    learned how to inflict greater injuries with the weapons you know best. You deal an additional 2 damage with weapons
    and unarmed attacks in which you are an expert. This damage increases to 3 if you’re a master, and 4 if you’re
    legendary.<br/>
    <h2 class="h2-header">Master Spellcaster<span class="item-type"
                                                  style="margin-left:auto; margin-right:0">Level 15</span></h2>You
    command superlative spellcasting ability. Your proficiency ranks for arcane spell attack rolls and spell DCs
    increase to master.<br/>
    <h2 class="h2-header">Resolve<span class="item-type" style="margin-left:auto; margin-right:0">Level 17</span></h2>
    You’ve steeled your mind with resolve. Your proficiency rank for Will saves increases to master. When you roll a
    success at a Will save, you get a critical success instead.<br/>
    <h2 class="h2-header">Archwizard's Spellcraft<span class="item-type" style="margin-left:auto; margin-right:0">Level 19</span>
    </h2>You command the most potent arcane magic and can cast a spell of truly incredible power. You gain a single
    10th-level spell slot and can prepare a spell in that slot using arcane spellcasting. You can't use this spell slot
    for abilities that let you cast spells without expending spell slots or that give you more spell slots. Unlike with
    other spell slots, you don't gain more 10th-level spells as you level up, though you can take the
    [[feat/662|Archwizard's Might]] feat to gain a second slot.<br/>
    <h2 class="h2-header">Legendary Spellcaster<span class="item-type"
                                                     style="margin-left:auto; margin-right:0">Level 19</span></h2>You
    are a consummate spellcaster, with a comprehensive understanding of both arcane theory and practical spellcraft.
    Your proficiency ranks for arcane spell attack rolls and spell DCs increase to legendary.<br/>

</div>