{% extends 'base.html' %}

{% block title %}
{{ trans('Forgot Password', lang) }}
{% endblock %}

{% block body %}
<h1 class="h1-header">{{ trans('Forgot Password', lang) }}</h1>

<form class="feedback-form" method="post" action="/users/auth/forgot-password" id="forgot-password-form">
    <label class="feedback-label" for="email">{{ trans('Email:', lang) }}:</label>
    <input class="feedback-input" type="email" id="forgot-password-email" name="email" required>
    <button class="feedback-button" type="submit">{{ trans("Send reset link", lang) }}</button>
</form>

    <script>
        document.getElementById('forgot-password-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const email = document.getElementById('forgot-password-email').value;
            console.log(email)
            const response = await fetch('/users/auth/forgot-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'email': email })
            });

            if (response.ok) {
                alert('Ссылка для восстановления пароля выслана на почту.')
                window.location.href = '/'
            }
            })
    </script>

{% endblock %}
