{% extends 'base.html' %}

{% block title %}
{{ trans('Reset Password', lang) }}
{% endblock %}

{% block body %}
<h1 class="h1-header">{{ trans('Reset Password', lang) }}</h1>

<form class="feedback-form" method="post" action="/users/auth/reset-password" id="reset-password-form">
    <label for="email">{{ trans('Enter new password', lang) }}:</label>
    <input type="password" id="new-password" required>
    <button type="submit">{{ trans("Reset password", lang) }}</button>
</form>

    <script>
        document.getElementById('reset-password-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const urlParams = new URLSearchParams(window.location.search);
            const token = urlParams.get('token');
            const newPassword = document.getElementById('new-password').value;
            const response = await fetch('/users/auth/reset-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 'token': token, 'password': newPassword })
            });
            if (response.ok) {
                alert('Успешно. Теперь вы можете войти, используя новый пароль')
                window.location.href = '/'
            }
        });
    </script>

{% endblock %}
