
<!-- Dwarf -->
<div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-ancestry-dwarf">
    <a href="{{ url_for ('get_ancestry', ancestry_id='dwarf').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Dwarf', lang) }}</a>
    <div class="clickable-menu" id="h3-ancestry-dwarf-click">
        <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-ancestry-dwarf-arrow"></div>
    </div>
</div>
<div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-ancestry-dwarf-submenu">
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-dwarf-feats">
        <a href="{{ url_for ('get_ancestry', ancestry_id='dwarf').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Feats', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-dwarf-heritages">
        <a href="{{ url_for ('get_ancestry', ancestry_id='dwarf').include_query_params(tab='heritages') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Heritages', lang) }}</a>
    </div>
</div>
<!-- End of DWARF-->

<!-- Elf -->
<div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-ancestry-elf">
    <a href="{{ url_for ('get_ancestry', ancestry_id='elf').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Elf', lang) }}</a>
    <div class="clickable-menu" id="h3-ancestry-elf-click">
        <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-ancestry-elf-arrow"></div>
    </div>
</div>
<div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-ancestry-elf-submenu">
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-elf-feats">
        <a href="{{ url_for ('get_ancestry', ancestry_id='elf').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Feats', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-elf-heritages">
        <a href="{{ url_for ('get_ancestry', ancestry_id='elf').include_query_params(tab='heritages') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Heritages', lang) }}</a>
    </div>
</div>
<!-- End of Elf-->

<!-- Gnome -->
<div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-ancestry-gnome">
    <a href="{{ url_for ('get_ancestry', ancestry_id='gnome').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Gnome', lang) }}</a>
    <div class="clickable-menu" id="h3-ancestry-gnome-click">
        <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-ancestry-gnome-arrow"></div>
    </div>
</div>
<div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-ancestry-gnome-submenu">
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-gnome-feats">
        <a href="{{ url_for ('get_ancestry', ancestry_id='gnome').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Feats', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-gnome-heritages">
        <a href="{{ url_for ('get_ancestry', ancestry_id='gnome').include_query_params(tab='heritages') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Heritages', lang) }}</a>
    </div>
</div>
<!-- End of Gnome-->

<!-- Goblin -->
<div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-ancestry-goblin">
    <a href="{{ url_for ('get_ancestry', ancestry_id='goblin').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Goblin', lang) }}</a>
    <div class="clickable-menu" id="h3-ancestry-goblin-click">
        <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-ancestry-goblin-arrow"></div>
    </div>
</div>
<div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-ancestry-goblin-submenu">
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-goblin-feats">
        <a href="{{ url_for ('get_ancestry', ancestry_id='goblin').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Feats', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-goblin-heritages">
        <a href="{{ url_for ('get_ancestry', ancestry_id='goblin').include_query_params(tab='heritages') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Heritages', lang) }}</a>
    </div>
</div>
<!-- End of Goblin-->

<!-- Halfling -->
<div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-ancestry-halfling">
    <a href="{{ url_for ('get_ancestry', ancestry_id='halfling').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Halfling', lang) }}</a>
    <div class="clickable-menu" id="h3-ancestry-halfling-click">
        <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-ancestry-halfling-arrow"></div>
    </div>
</div>
<div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-ancestry-halfling-submenu">
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-halfling-feats">
        <a href="{{ url_for ('get_ancestry', ancestry_id='halfling').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Feats', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-halfling-heritages">
        <a href="{{ url_for ('get_ancestry', ancestry_id='halfling').include_query_params(tab='heritages') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Heritages', lang) }}</a>
    </div>
</div>
<!-- End of Halfling-->

<!-- Human -->
<div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-ancestry-human">
    <a href="{{ url_for ('get_ancestry', ancestry_id='human').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Human', lang) }}</a>
    <div class="clickable-menu" id="h3-ancestry-human-click">
        <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-ancestry-human-arrow"></div>
    </div>
</div>
<div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-ancestry-human-submenu">
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-human-feats">
        <a href="{{ url_for ('get_ancestry', ancestry_id='human').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Feats', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-human-heritages">
        <a href="{{ url_for ('get_ancestry', ancestry_id='human').include_query_params(tab='heritages') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Heritages', lang) }}</a>
    </div>
</div>
<!-- End of Human-->
{##}
{#<!-- Half-Elf -->#}
{#<!--<div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-ancestry-half-elf">-->#}
{#<!--    <a href="{{ url_for ('get_ancestry', ancestry_id='half-elf').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Half-Elf', lang) }}</a>-->#}
{#<!--    <div class="clickable-menu" id="h3-ancestry-half-elf-click">-->#}
{#<!--        <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-ancestry-half-elf-arrow"></div>-->#}
{#<!--    </div>-->#}
{#<!--</div>-->#}
{#<!--<div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-ancestry-half-elf-submenu">-->#}
{#<!--    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-half-elf-feats">-->#}
{#<!--        <a href="{{ url_for ('get_ancestry', ancestry_id='half-elf').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">-->#}
{#<!--            {{ trans('Feats', lang) }} </a>-->#}
{#<!--    </div>-->#}
{#<!--    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-half-elf-heritages">-->#}
{#<!--        <a href="{{ url_for ('get_ancestry', ancestry_id='half-elf').include_query_params(tab='heritages') }}" class="menu-h4-header leftmenu__menu-h4-header ">-->#}
{#<!--            {{ trans('Heritages', lang) }}</a>-->#}
{#<!--    </div>-->#}
{#<!--</div>-->#}
{#<!-- End of Half-Elf-->#}
{##}
{#<!-- Half-Orc -->#}
{#<!--<div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-ancestry-half-orc">-->#}
{#<!--    <a href="{{ url_for ('get_ancestry', ancestry_id='half-orc').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Half-Orc', lang) }}</a>-->#}
{#<!--    <div class="clickable-menu" id="h3-ancestry-half-orc-click">-->#}
{#<!--        <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-ancestry-half-orc-arrow"></div>-->#}
{#<!--    </div>-->#}
{#<!--</div>-->#}
{#<!--<div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-ancestry-half-orc-submenu">-->#}
{#<!--    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-half-orc-feats">-->#}
{#<!--        <a href="{{ url_for ('get_ancestry', ancestry_id='half-orc').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">-->#}
{#<!--            {{ trans('Feats', lang) }} </a>-->#}
{#<!--    </div>-->#}
{#<!--    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-half-orc-heritages">-->#}
{#<!--        <a href="{{ url_for ('get_ancestry', ancestry_id='half-orc').include_query_params(tab='heritages') }}" class="menu-h4-header leftmenu__menu-h4-header ">-->#}
{#<!--            {{ trans('Heritages', lang) }}</a>-->#}
{#<!--    </div>-->#}
{#<!--</div>-->#}
{#<!-- End of half-orc-->#}

<!-- APG -->

<!-- Catfolk -->
<div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-ancestry-catfolk">
    <a href="{{ url_for ('get_ancestry', ancestry_id='catfolk').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Catfolk', lang) }}</a>
    <div class="clickable-menu" id="h3-ancestry-catfolk-click">
        <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-ancestry-catfolk-arrow"></div>
    </div>
</div>
<div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-ancestry-catfolk-submenu">
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-catfolk-feats">
        <a href="{{ url_for ('get_ancestry', ancestry_id='catfolk').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Feats', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-catfolk-heritages">
        <a href="{{ url_for ('get_ancestry', ancestry_id='catfolk').include_query_params(tab='heritages') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Heritages', lang) }}</a>
    </div>
</div>
<!-- End of Catfolk-->

<!-- Kobold -->
<div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-ancestry-kobold">
    <a href="{{ url_for ('get_ancestry', ancestry_id='kobold').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Kobold', lang) }}</a>
    <div class="clickable-menu" id="h3-ancestry-kobold-click">
        <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-ancestry-kobold-arrow"></div>
    </div>
</div>
<div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-ancestry-kobold-submenu">
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-kobold-feats">
        <a href="{{ url_for ('get_ancestry', ancestry_id='kobold').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Feats', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-kobold-heritages">
        <a href="{{ url_for ('get_ancestry', ancestry_id='kobold').include_query_params(tab='heritages') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Heritages', lang) }}</a>
    </div>
</div>
<!-- End of Kobold-->

<!-- Orc -->
<div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-ancestry-orc">
    <a href="{{ url_for ('get_ancestry', ancestry_id='orc').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Orc', lang) }}</a>
    <div class="clickable-menu" id="h3-ancestry-orc-click">
        <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-ancestry-orc-arrow"></div>
    </div>
</div>
<div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-ancestry-orc-submenu">
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-orc-feats">
        <a href="{{ url_for ('get_ancestry', ancestry_id='orc').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Feats', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-orc-heritages">
        <a href="{{ url_for ('get_ancestry', ancestry_id='orc').include_query_params(tab='heritages') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Heritages', lang) }}</a>
    </div>
</div>
<!-- End of Orc-->

<!-- Ratfolk -->
<div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-ancestry-ratfolk">
    <a href="{{ url_for ('get_ancestry', ancestry_id='ratfolk').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Ratfolk', lang) }}</a>
    <div class="clickable-menu" id="h3-ancestry-ratfolk-click">
        <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-ancestry-ratfolk-arrow"></div>
    </div>
</div>
<div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-ancestry-ratfolk-submenu">
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-ratfolk-feats">
        <a href="{{ url_for ('get_ancestry', ancestry_id='ratfolk').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Feats', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-ratfolk-heritages">
        <a href="{{ url_for ('get_ancestry', ancestry_id='ratfolk').include_query_params(tab='heritages') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Heritages', lang) }}</a>
    </div>
</div>
<!-- End of Ratfolk-->

<!-- Tengu -->
<div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-ancestry-tengu">
    <a href="{{ url_for ('get_ancestry', ancestry_id='tengu').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Tengu', lang) }}</a>
    <div class="clickable-menu" id="h3-ancestry-tengu-click">
        <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-ancestry-tengu-arrow"></div>
    </div>
</div>
<div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-ancestry-tengu-submenu">
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-tengu-feats">
        <a href="{{ url_for ('get_ancestry', ancestry_id='tengu').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Feats', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-tengu-heritages">
        <a href="{{ url_for ('get_ancestry', ancestry_id='tengu').include_query_params(tab='heritages') }}" class="menu-h4-header leftmenu__menu-h4-header ">
            {{ trans('Heritages', lang) }}</a>
    </div>
</div>
<!-- End of Tengu-->


{# VERSATILES #}
<div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-ancestry-versatile">
    <a href="{{ url_for ('get_versatile_heritages') }}" class="menu-h3-header leftmenu__menu-h3-header ">
        {{ trans('Versatile Heritages', lang) }}</a>
    <div class="clickable-menu" id="h3-ancestry-versatile-click">
        <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-ancestry-versatile-arrow"></div>
    </div>
</div>

<div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-ancestry-versatile-submenu">
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-versatile-changeling">
        <a href="{{ url_for ('get_versatile_heritage', heritage_id='changeling') }}" class="menu-h4-header leftmenu__menu-h4-header ">{{ trans('Changeling', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-versatile-dhampir">
        <a href="{{ url_for ('get_versatile_heritage', heritage_id='dhampir') }}" class="menu-h4-header leftmenu__menu-h4-header ">{{ trans('Dhampir', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-versatile-aasimar">
        <a href="{{ url_for ('get_versatile_heritage', heritage_id='aasimar') }}" class="menu-h4-header leftmenu__menu-h4-header ">{{ trans('Aasimar', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-versatile-duskwalker">
        <a href="{{ url_for ('get_versatile_heritage', heritage_id='duskwalker') }}" class="menu-h4-header leftmenu__menu-h4-header ">{{ trans('Duskwalker', lang) }} </a>
    </div>
    <div class="menu-h4 leftmenu__menu-h4 " id="h4-ancestry-versatile-tiefling">
        <a href="{{ url_for ('get_versatile_heritage', heritage_id='tiefling') }}" class="menu-h4-header leftmenu__menu-h4-header ">{{ trans('Tiefling', lang) }} </a>
    </div>
</div>
<!-- End of Versatiles-->
