 <!-- Alchemist -->
    <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-alchemist">
        <a href="{{ url_for ('get_class_', class_id='alchemist').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Alchemist', lang) }}</a>
        <div class="clickable-menu" id="h3-class-alchemist-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-alchemist-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-alchemist-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-alchemist-feats">
            <a href="{{ url_for ('get_class_', class_id='alchemist').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-alchemist-research-fields">
            <a href="{{ url_for ('get_class_', class_id='alchemist').include_query_params(tab='research-fields') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Research Fields', lang) }}</a>
        </div>
    </div>

 <!--Barbarian-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-barbarian">
        <a href="{{ url_for ('get_class_', class_id='barbarian').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Barbarian', lang) }}</a>
        <div class="clickable-menu" id="h3-class-barbarian-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-barbarian-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-barbarian-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-barbarian-feats">
            <a href="{{ url_for ('get_class_', class_id='barbarian').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-barbarian-instincts">
            <a href="{{ url_for ('get_class_', class_id='barbarian').include_query_params(tab='instincts') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Instincts', lang) }}</a>
        </div>
    </div>

  <!--Bard-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-bard">
        <a href="{{ url_for ('get_class_', class_id='bard').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Bard', lang) }}</a>
        <div class="clickable-menu" id="h3-class-bard-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-bard-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-bard-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-bard-feats">
            <a href="{{ url_for ('get_class_', class_id='bard').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-bard-focus-spells">
            <a href="{{ url_for ('get_class_', class_id='bard').include_query_params(tab='focus-spells') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Focus Spells', lang) }}</a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-bard-muses">
            <a href="{{ url_for ('get_class_', class_id='bard').include_query_params(tab='muses') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Muses', lang) }}</a>
        </div>
    </div>


  <!--Champion-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-champion">
        <a href="{{ url_for ('get_class_', class_id='champion').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Champion', lang) }}</a>
        <div class="clickable-menu" id="h3-class-champion-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-champion-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-champion-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-champion-feats">
            <a href="{{ url_for ('get_class_', class_id='champion').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-champion-focus-spells">
            <a href="{{ url_for ('get_class_', class_id='champion').include_query_params(tab='focus-spells') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Focus Spells', lang) }}</a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-champion-causes">
            <a href="{{ url_for ('get_class_', class_id='champion').include_query_params(tab='causes') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Causes', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-champion-tenets">
            <a href="{{ url_for ('get_class_', class_id='champion').include_query_params(tab='tenets') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Tenets', lang) }} </a>
        </div>
    </div>

  <!--Cleric-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-cleric">
        <a href="{{ url_for ('get_class_', class_id='cleric').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Cleric', lang) }}</a>
        <div class="clickable-menu" id="h3-class-cleric-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-cleric-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-cleric-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-cleric-feats">
            <a href="{{ url_for ('get_class_', class_id='cleric').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-cleric-focus-spells">
            <a href="{{ url_for ('get_class_', class_id='cleric').include_query_params(tab='focus-spells') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Focus Spells', lang) }}</a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-cleric-doctrines">
            <a href="{{ url_for ('get_class_', class_id='cleric').include_query_params(tab='doctrines') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Doctrines', lang) }}</a>
        </div>
    </div>

  <!--Druid-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-druid">
        <a href="{{ url_for ('get_class_', class_id='druid').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Druid', lang) }}</a>
        <div class="clickable-menu" id="h3-class-druid-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-druid-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-druid-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-druid-feats">
            <a href="{{ url_for ('get_class_', class_id='druid').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-druid-focus-spells">
            <a href="{{ url_for ('get_class_', class_id='druid').include_query_params(tab='focus-spells') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Focus Spells', lang) }}</a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-druid-orders">
            <a href="{{ url_for ('get_class_', class_id='druid').include_query_params(tab='orders') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Orders', lang) }}</a>
        </div>
    </div>

  <!--Fighter-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-fighter">
        <a href="{{ url_for ('get_class_', class_id='fighter').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Fighter', lang) }}</a>
        <div class="clickable-menu" id="h3-class-fighter-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-fighter-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-fighter-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-fighter-feats">
            <a href="{{ url_for ('get_class_', class_id='fighter').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
    </div>

  <!--Monk-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-monk">
        <a href="{{ url_for ('get_class_', class_id='monk').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Monk', lang) }}</a>
        <div class="clickable-menu" id="h3-class-monk-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-monk-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-monk-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-monk-feats">
            <a href="{{ url_for ('get_class_', class_id='monk').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-monk-focus-spells">
            <a href="{{ url_for ('get_class_', class_id='monk').include_query_params(tab='focus-spells') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Focus Spells', lang) }}</a>
        </div>
    </div>

 <!--Ranger-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-ranger">
        <a href="{{ url_for ('get_class_', class_id='ranger').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Ranger', lang) }}</a>
        <div class="clickable-menu" id="h3-class-ranger-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-ranger-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-ranger-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-ranger-feats">
            <a href="{{ url_for ('get_class_', class_id='ranger').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-ranger-focus-spells">
            <a href="{{ url_for ('get_class_', class_id='ranger').include_query_params(tab='focus-spells') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Focus Spells', lang) }}</a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-ranger-hunters-edge">
            <a href="{{ url_for ('get_class_', class_id='ranger').include_query_params(tab='hunters-edge') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans("Hunter's Edge", lang) }}</a>
        </div>
    </div>

  <!--Rogue-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-rogue">
        <a href="{{ url_for ('get_class_', class_id='rogue').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Rogue', lang) }}</a>
        <div class="clickable-menu" id="h3-class-rogue-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-rogue-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-rogue-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-rogue-feats">
            <a href="{{ url_for ('get_class_', class_id='rogue').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-rogue-rackets">
            <a href="{{ url_for ('get_class_', class_id='rogue').include_query_params(tab='rackets') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Rackets', lang) }}</a>
        </div>
    </div>

  <!--Sorcerer-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-sorcerer">
        <a href="{{ url_for ('get_class_', class_id='sorcerer').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Sorcerer', lang) }}</a>
        <div class="clickable-menu" id="h3-class-sorcerer-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-sorcerer-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-sorcerer-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-sorcerer-feats">
            <a href="{{ url_for ('get_class_', class_id='sorcerer').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-sorcerer-focus-spells">
            <a href="{{ url_for ('get_class_', class_id='sorcerer').include_query_params(tab='focus-spells') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Focus Spells', lang) }}</a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-sorcerer-bloodlines">
            <a href="{{ url_for ('get_class_', class_id='sorcerer').include_query_params(tab='bloodlines') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Bloodlines', lang) }}</a>
        </div>
    </div>

  <!--Wizard-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-wizard">
        <a href="{{ url_for ('get_class_', class_id='wizard').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Wizard', lang) }}</a>
        <div class="clickable-menu" id="h3-class-wizard-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-wizard-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-wizard-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-wizard-feats">
            <a href="{{ url_for ('get_class_', class_id='wizard').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-wizard-focus-spells">
            <a href="{{ url_for ('get_class_', class_id='wizard').include_query_params(tab='focus-spells') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Focus Spells', lang) }}</a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-wizard-magic-schools">
            <a href="{{ url_for ('get_class_', class_id='wizard').include_query_params(tab='magic-schools') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Magic Schools', lang) }}</a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-wizard-arcane-thesis">
            <a href="{{ url_for ('get_class_', class_id='wizard').include_query_params(tab='arcane-thesis') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Arcane Thesis', lang) }}</a>
        </div>
    </div>

<!--    APG           -->
   <!--Investigator-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-investigator">
        <a href="{{ url_for ('get_class_', class_id='investigator').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Investigator', lang) }}</a>
        <div class="clickable-menu" id="h3-class-investigator-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-investigator-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-investigator-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-investigator-feats">
            <a href="{{ url_for ('get_class_', class_id='investigator').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-investigator-methodologies">
            <a href="{{ url_for ('get_class_', class_id='investigator').include_query_params(tab='methodologies') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Methodologies', lang) }}</a>
        </div>
    </div>

   <!--Oracle-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-oracle">
        <a href="{{ url_for ('get_class_', class_id='oracle').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Oracle', lang) }}</a>
        <div class="clickable-menu" id="h3-class-oracle-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-oracle-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-oracle-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-oracle-feats">
            <a href="{{ url_for ('get_class_', class_id='oracle').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-oracle-focus-spells">
            <a href="{{ url_for ('get_class_', class_id='oracle').include_query_params(tab='focus-spells') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Focus Spells', lang) }}</a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-oracle-mysteries">
            <a href="{{ url_for ('get_class_', class_id='oracle').include_query_params(tab='mysteries') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Mysteries', lang) }}</a>
        </div>
    </div>

   <!--Swashbuckler-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-swashbuckler">
        <a href="{{ url_for ('get_class_', class_id='swashbuckler').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Swashbuckler', lang) }}</a>
        <div class="clickable-menu" id="h3-class-swashbuckler-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-swashbuckler-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-swashbuckler-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-swashbuckler-feats">
            <a href="{{ url_for ('get_class_', class_id='swashbuckler').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-swashbuckler-styles">
            <a href="{{ url_for ('get_class_', class_id='swashbuckler').include_query_params(tab='focus-spells') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Styles', lang) }}</a>
        </div>
    </div>

   <!--Witch-->
     <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-witch">
        <a href="{{ url_for ('get_class_', class_id='witch').include_query_params(tab='details') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Witch', lang) }}</a>
        <div class="clickable-menu" id="h3-class-witch-click">
            <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-witch-arrow"></div>
        </div>
    </div>
    <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-witch-submenu">
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-witch-feats">
            <a href="{{ url_for ('get_class_', class_id='witch').include_query_params(tab='feats') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Feats', lang) }} </a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-witch-focus-spells">
            <a href="{{ url_for ('get_class_', class_id='witch').include_query_params(tab='focus-spells') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Focus Spells', lang) }}</a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-witch-patrons">
            <a href="{{ url_for ('get_class_', class_id='witch').include_query_params(tab='patrons') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Patrons', lang) }}</a>
        </div>
        <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-witch-lessons">
            <a href="{{ url_for ('get_class_', class_id='witch').include_query_params(tab='lessons') }}" class="menu-h4-header leftmenu__menu-h4-header ">
                {{ trans('Lessons', lang) }}</a>
        </div>
    </div>

        <!-- Miscellaneous -->

        <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-animal-companions">
            <a href="{{ url_for ('get_class_', class_id='animal companions').include_query_params(tab='animal-companions') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Animal Companions', lang)}}</a>
            <div class="clickable-menu" id="h3-class-animal-companions-click">
                <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-animal-companions-arrow"></div>
            </div>
        </div>
        <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-animal-companions-submenu">
            <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-animal-companions-specializations">
                <a href="{{ url_for ('get_class_', class_id='animal companions').include_query_params(tab='specializations') }}" class="menu-h4-header leftmenu__menu-h4-header ">{{ trans('Specializations', lang)}}</a>
            </div>
            <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-animal-companions-advanced-options">
                <a href="{{ url_for ('get_class_', class_id='animal companions').include_query_params(tab='advanced-options') }}" class="menu-h4-header leftmenu__menu-h4-header ">{{ trans('Advanced Options', lang)}}</a>
            </div>
        </div>

        <div class="menu-h3 leftmenu__menu-h3 expanded-menu " id="h3-class-familiars">
            <a href="{{ url_for ('get_class_', class_id='familiars').include_query_params(tab='abilities') }}" class="menu-h3-header leftmenu__menu-h3-header ">{{ trans('Familiars', lang)}}</a>
            <div class="clickable-menu" id="h3-class-familiars-click">
                <div class="menu-h3-open-menu leftmenu__menu-h3-open-menu open-menu" id="h3-class-familiars-arrow"></div>
            </div>
        </div>
        <div class="inside-h3 leftmenu__inside-h3 submenu " id="h3-class-familiars-submenu">
            <div class="menu-h4 leftmenu__menu-h4 " id="h4-class-familiars-specific">
                <a href="{{ url_for ('get_class_', class_id='familiars').include_query_params(tab='specific-familiars') }}" class="menu-h4-header leftmenu__menu-h4-header ">{{ trans('Specific Familiars', lang)}}</a>
            </div>
        </div>




