{% extends 'base.html' %}


{% block title %}
{{ trans('Familiars', lang) }}
{% endblock %}

{% block body %}
    <h1 class="h1-header">{{ trans('Familiars', lang) }}    </h1>

<div class="tabs-panel" id ="familiars-tabs-panel">
    <div class="tablink tablink--eng" data-tab="#abilities">
        <div class="tab-header">{{ trans ('Familiar and Master Abilities', lang) }}</div>
    </div>

    <div class="tablink tablink--eng" data-tab="#specific-familiars">
        <div class="tab-header">{{ trans ('Specific Familiars', lang) }}</div>
    </div>
</div>

<div class="tab-content " id="abilities">
   <h1 class="h1-header">{{ trans ('Familiar and Master Abilities', lang) }}</h1>

        <div class="content-table">
                {% for item in familiar_abilities %}
                    <div class="content-item">
                        <a class="content-header" href="#familiar_ability-{{ item.name|lower_no_spaces }}">
                            {% if item.rus_name and lang=='ru' %}
                                {{ item.rus_name }}
                            {% else %}
                                {{ item.name }}
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>

    {% for item in familiar_abilities %}
        <a id="familiar_ability-{{ item.name|lower_no_spaces }}" class="anchor"></a>

        <div class="item-output item-output--card">
            <div class="item-output--card--header">
                <a class="header-link" href="{{ url_for('get_item_page', item_type='familiarabilities', item_id=item.name) }}">
                   {% if lang=='ru' and item.rus_name %}
                    {{ item.rus_name }}
                    {% else %}
                    {{ item.name }}
                {% endif %}
                {% if item.actions %}
                    {{ item.actions|action_to_icon }}
                {% endif %}
                </a>
            </div>
            <div class="item-output--body">
                {% if item.rus_text_output and lang=='ru' %}
                    {{ item.rus_text_output|viewbox_r|safe }}
                {% else %}
                    {{ item.text_output|viewbox_r|safe }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<div class="tab-content " id="specific-familiars">
    <h1 class="h1-header">{{ trans ('Specific Familiars', lang) }}</h1>

        <div class="content-table">
            {% for item in familiar_specific %}
                <div class="content-item">
                    <a class="content-header" href="#familiar_specific-{{ item.name|lower_no_spaces }}">
                        {% if item.rus_name and lang=='ru' %}
                            {{ item.rus_name }}
                        {% else %}
                            {{ item.name }}
                        {% endif %}
                        {% if item.actions %}
                            {{ item.actions|action_to_icon }}
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>

    {% for item in familiar_specific %}
    <a id="familiar_specific-{{ item.name|lower_no_spaces }}" class="anchor"></a>

    <div class="item-output item-output--card">
        <div class="item-output--card--header">
            <a class="header-link" href="{{ url_for('get_item_page', item_type='familiarspecific', item_id=item.name) }}">
            {% if lang=='ru' and item.rus_name %}
                    {{ item.rus_name }}
                    {% else %}
                    {{ item.name }}
                {% endif %}
                </a>
        </div>
        <div class="item-output--body">
            {% if item.rus_text_output and lang=='ru' %}
                {{ item.rus_text_output|viewbox_r|safe }}
            {% else %}
                {{ item.text_output|viewbox_r|safe }}
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
