{% extends 'base.html' %}

{% block title %}
{{ trans ('Feats', lang) }}
{% endblock %}


{% block body %}
<h1 class="h1-header">{{ trans ('Feats',lang) }}</h1>

<a class="textlink" href="{{ url_for('core_rulebook_chapter', chapter_name='feats') }}">{{ trans ('Click here to see rules for Feats.', lang) }} </a>

<div class="tabs-panel" id ="feats-tabs-panel">
    <div class="tablink tablink--eng" data-tab="#feats">
        <div class="tab-header">{{ trans ('Feats', lang) }}</div>
    </div>
    <div class="tablink tablink--eng" data-tab="#general">
        <div class="tab-header">{{ trans ('General', lang) }}</div>
    </div>
{#    <div class="tablink tablink--eng" data-tab="#skill">#}
{#        <div class="tab-header">{{ trans ('Skill', lang) }}</div>#}
{#    </div>#}
</div>

<div class="tab-content tab-content--active" id="general">
    <table class="need-filters table--list" id="general-feats-list">
        <thead>
                <th class="table--list--header">Name
                    <button class="sort-button" data-column="0">
                        <img class="sort-button--icon" src="{{ url_for('static', path='icons/sort-arrows-icon.svg' ) }}" alt="Sort">
                    </button>
                </th>
                <th class="table--list--header">Название
                    <button class="sort-button" data-column="1">
                        <img class="sort-button--icon" src="{{ url_for('static', path='icons/sort-arrows-icon.svg' ) }}" alt="Sort">
                    </button>
                </th>
                <th class="table--list--header">Traits</th>
                <th class="table--list--header">Дескрипторы</th>

                <th class="table--list--header">{{ trans('Level', lang) }}
                    <button class="sort-button" data-column="4">
                        <img class="sort-button--icon" src="{{ url_for('static', path='icons/sort-arrows-icon.svg' ) }}" alt="Sort">
                    </button>
                </th>
                <th class="table--list--header">{{ trans('Actions', lang) }}</th>
                <th class="table--list--header">{{ trans('Prerequisites', lang) }}</th>
            <tr>
<!--                NAME-->
                <th class="filter-cell table--list--filter">
                    <input type="text" class="filter-input" data-column="0" placeholder="">
                </th>
<!--                RUS NAME-->
                <th class="filter-cell">
                    <input type="text" class="filter-input" data-column="1" placeholder="">
                    <br>
                    <input type="checkbox" class="checkbox-only-rus check-checkbox" data-column="1"> есть
                </th>
<!--                Traits-->
                <th class="filter-cell" colspan="2">
                    <input type="text" class="filter-input--traits" data-column="2" placeholder="">
                    <button class="filter-button" data-column="2">
                        <img class="filter-button--icon" src="{{ url_for('static', path='icons/plus-icon.svg' ) }}" alt="Add">
                    </button>
                    <div class="traits-filter traits-filter--2"></div>
                </th>
                <!--Level-->
                <th class="filter-cell">
                  <input type="text" id="input-from" class="filter-input--range filter-input--range-from" data-column="4" placeholder="From">
                  <input type="text" id="input-to" class="filter-input--range filter-input--range-to" data-column="4" placeholder="To">
                </th>
                <!--Actions-->
                <th class="filter-cell table-action-filter-cell">
                    <span class="action-filter" data-column="5" data="1">
                        <img class="action-icon action-icon--filter" src="{{ url_for('static', path='icons/1action.png' ) }}" alt="1">
                    </span>
                    <span class="action-filter" data-column="5" data="2">
                        <img class="action-icon action-icon--filter" src="{{ url_for('static', path='icons/2actions.png' ) }}" alt="2">
                    </span>
                    <span class="action-filter" data-column="5" data="3">
                        <img class="action-icon action-icon--filter" src="{{ url_for('static', path='icons/3actions.png' ) }}" alt="3">
                    </span>
                    <span class="action-filter" data-column="5" data="4">
                        <img class="action-icon action-icon--filter" src="{{ url_for('static', path='icons/0action.png' ) }}" alt="4">
                    </span>
                    <span class="action-filter" data-column="5" data="5">
                        <img class="action-icon action-icon--filter" src="{{ url_for('static', path='icons/reaction.png' ) }}" alt="5">
                    </span>
                </th>
                <!--prerequisites-->
                <th class="filter-cell">
                </th>
            </tr>
            </thead>
        <tbody>
    {% for item in general_feats %}
        <tr>
            <td data="{{ item.name }}">
                <span>
                    <span class="rhombus" itemID={{ item.id }} itemType='feats' itemLang='en' onclick="getItem(this)"></span>
                    <a class="item-link link--popup item-link--feats item-link--table" href="/feats/{{ item.name|to_url }}">{{ item.name }}</a>
                </span>
            </td>
            <td data="{{ item.rus_name|none_to_hyphen }}">
                {% if item.rus_name %}
                    <span>
                        <span class="rhombus" itemID={{ item.id }} itemType='feats' itemLang='ru' onclick="getItem(this)"></span>
                        <a class="item-link link--popup item-link--feats item-link--table" href="/feats/{{ item.name|to_url }}">{{ item.rus_name|none_to_hyphen|capitalize }}</a>
                    </span>
                {% else %} -
                {% endif %}
            </td>
            <td data="{{ item.traits_output|traits_to_text }}" class="cell-traits-output">{{ item.traits_output|to_traits_output|safe }}</td>
            <td data="{{ item.rus_traits_output|traits_to_text }}" class="cell-traits-output">{{ item.rus_traits_output|to_traits_output|safe }}</td>
            <td data="{{ item.level|lvl_to_int }}"> {{ item.level }} </td>
            <td data="{{item.actions|action_to_value}}">{{ item.actions|action_to_icon|safe }}</td>
            <td data="{{ item.prerequisite|none_to_hyphen|to_text }}"> <span>{{ item.prerequisite|none_to_hyphen|to_a_links|safe }} </span></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

<div class="tab-content tab-content--active" id="feats">
    <table class="need-filters table--list" id="feats-list">
        <thead>
                <th class="table--list--header">Name
                    <button class="sort-button" data-column="0">
                        <img class="sort-button--icon" src="{{ url_for('static', path='icons/sort-arrows-icon.svg' ) }}" alt="Sort">
                    </button>
                </th>
                <th class="table--list--header">Название
                    <button class="sort-button" data-column="1">
                        <img class="sort-button--icon" src="{{ url_for('static', path='icons/sort-arrows-icon.svg' ) }}" alt="Sort">
                    </button>
                </th>
                <th class="table--list--header">Traits</th>
                <th class="table--list--header">Дескрипторы</th>

                <th class="table--list--header">{{ trans('Level', lang) }}
                    <button class="sort-button" data-column="4">
                        <img class="sort-button--icon" src="{{ url_for('static', path='icons/sort-arrows-icon.svg' ) }}" alt="Sort">
                    </button>
                </th>
                <th class="table--list--header">{{ trans('Actions', lang) }}</th>
                <th class="table--list--header">{{ trans('Prerequisites', lang) }}</th>
                <th class="table--list--header">{{ trans('Skill', lang) }}</th>

            <tr>
<!--                NAME-->
                <th class="filter-cell table--list--filter">
                    <input type="text" class="filter-input" data-column="0" placeholder="">
                </th>
<!--                RUS NAME-->
                <th class="filter-cell">
                    <input type="text" class="filter-input" data-column="1" placeholder="">
                    <br>
                    <input type="checkbox" class="checkbox-only-rus check-checkbox" data-column="1"> есть
                </th>
<!--                Traits-->
                <th class="filter-cell" colspan="2">
                    <input type="text" class="filter-input--traits" data-column="2" placeholder="">
                    <button class="filter-button" data-column="2">
                        <img class="filter-button--icon" src="{{ url_for('static', path='icons/plus-icon.svg' ) }}" alt="Add">
                    </button>
                    <div class="traits-filter traits-filter--2"></div>
                </th>
                <!--Level-->
                <th class="filter-cell">
                  <input type="text" id="input-from" class="filter-input--range filter-input--range-from" data-column="4" placeholder="From">
                  <input type="text" id="input-to" class="filter-input--range filter-input--range-to" data-column="4" placeholder="To">
                </th>
                <!--Actions-->
                <th class="filter-cell table-action-filter-cell">
                    <span class="action-filter" data-column="5" data="1">
                        <img class="action-icon action-icon--filter" src="{{ url_for('static', path='icons/1action.png' ) }}" alt="1">
                    </span>
                    <span class="action-filter" data-column="5" data="2">
                        <img class="action-icon action-icon--filter" src="{{ url_for('static', path='icons/2actions.png' ) }}" alt="2">
                    </span>
                    <span class="action-filter" data-column="5" data="3">
                        <img class="action-icon action-icon--filter" src="{{ url_for('static', path='icons/3actions.png' ) }}" alt="3">
                    </span>
                    <span class="action-filter" data-column="5" data="4">
                        <img class="action-icon action-icon--filter" src="{{ url_for('static', path='icons/0action.png' ) }}" alt="4">
                    </span>
                    <span class="action-filter" data-column="5" data="5">
                        <img class="action-icon action-icon--filter" src="{{ url_for('static', path='icons/reaction.png' ) }}" alt="5">
                    </span>
                </th>
                <!--prerequisites-->
                <th class="filter-cell">
                </th>
                 <!--skill-->
                <th class="filter-cell">
                    <input type="text" class="filter-input" data-column="7" placeholder="">
                </th>
            </tr>
            </thead>
        <tbody>
    {% for item in feats %}
        <tr>
            <td data="{{ item.name }}">
                <span>
                    <span class="rhombus" itemID={{ item.id }} itemType='feats' itemLang='en' onclick="getItem(this)"></span>
                    <a class="item-link link--popup item-link--feats item-link--table" href="/feats/{{ item.name|to_url }}">{{ item.name }}</a>
                </span>
            </td>
            <td data="{{ item.rus_name|none_to_hyphen }}">
                {% if item.rus_name %}
                    <span>
                        <span class="rhombus" itemID={{ item.id }} itemType='feats' itemLang='ru' onclick="getItem(this)"></span>
                        <a class="item-link link--popup item-link--feats item-link--table" href="/feats/{{ item.name|to_url }}">{{ item.rus_name|none_to_hyphen|capitalize }}</a>
                    </span>
                {% else %} -
                {% endif %}
            </td>
            <td data="{{ item.traits_output|traits_to_text }}" class="cell-traits-output">{{ item.traits_output|to_traits_output|safe }}</td>
            <td data="{{ item.rus_traits_output|traits_to_text }}" class="cell-traits-output">{{ item.rus_traits_output|to_traits_output|safe }}</td>
            <td data="{{ item.level|lvl_to_int }}"> {{ item.level }} </td>
            <td data="{{item.actions|action_to_value}}">{{ item.actions|action_to_icon|safe }}</td>
            <td data="{{ item.prerequisite|none_to_hyphen|to_text }}"> <span>{{ item.prerequisite|none_to_hyphen|to_a_links|safe }} </span></td>
            <td data="{{ item.subcategory|none_to_hyphen|capitalize|to_text }}"> <span>{{ item.subcategory|none_to_hyphen|capitalize|to_a_links|safe }} </span></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
