{% extends 'base.html' %}

{% block title %}
{{ trans ('Setting', lang) }}
{% endblock %}


{% block body %}
<h1 class="h1-header">{{ trans ('Setting',lang) }}</h1>


<div class="tabs-panel" id ="setting-tabs-panel">
    <div class="tablink tablink--eng" data-tab="#deities">
        <div class="tab-header">{{ trans ('Deities', lang) }}</div>
    </div>
    <div class="tablink tablink--eng" data-tab="#domains">
        <div class="tab-header">{{ trans ('Domains', lang) }}</div>
    </div>
</div>

<div class="tab-content " id="deities">
    <table class="need-filters table--list" id="deities-list">
        <thead>
                <th class="table--list--header">Name
                    <button class="sort-button" data-column="0">
                        <img class="sort-button--icon" src="{{ url_for('static', path='icons/sort-arrows-icon.svg' ) }}" alt="Sort">
                    </button>
                </th>
                <th class="table--list--header">Название
                    <button class="sort-button" data-column="1">
                        <img class="sort-button--icon" src="{{ url_for('static', path='icons/sort-arrows-icon.svg' ) }}" alt="Sort">
                    </button>
                </th>
                <th class="table--list--header">{{ trans ('Alignment', lang) }}</th>
                <th class="table--list--header">{{ trans('Skill', lang) }} </th>
                <th class="table--list--header">{{ trans('Favored Weapon', lang) }}</th>
                <th class="table--list--header">{{ trans('Divine Font', lang) }}</th>
                <th class="table--list--header">{{ trans('Domains', lang) }}</th>

            <tr>
<!--                NAME-->
                <th class="filter-cell table--list--filter">
                    <input type="text" class="filter-input" data-column="0" placeholder="">
                </th>
<!--                RUS NAME-->
                <th class="filter-cell">
                    <input type="text" class="filter-input" data-column="1" placeholder="">
                    <br>
                    <input type="checkbox" class="checkbox-only-rus check-checkbox" data-column="1"> есть
                </th>
                <!--alignment-->
                <th class="filter-cell">
                    <input type="text" class="filter-input" data-column="2" placeholder="">
                </th>
                <!--skill-->
                <th class="filter-cell">
                    <input type="text" class="filter-input" data-column="3" placeholder="">
                </th>
                <!--Favored Weapon-->
                <th class="filter-cell">
                    <input type="text" class="filter-input" data-column="4" placeholder="">
                </th>
                <!--divine font-->
                <th class="filter-cell">
                </th>
                 <!--domains-->
                <th class="filter-cell">
                    <input type="text" class="filter-input" data-column="6" placeholder="">
                </th>
            </tr>
            </thead>
        <tbody>
        {% for item in deities %}
        <tr>
            <td class="cell-traits-output" data="{{ item.name }}">
                <span><span class="rhombus" itemID={{ item.id }} itemType='deities' itemLang='en' onclick="getItem(this)"></span>
                <a class="item-link link--popup item-link--deities item-link--table" href="/deities/{{ item.name|lower }}">{{ item.name }}</a></span>
            </td>
            <td class="cell-traits-output" data="{{ item.rus_name|none_to_hyphen }}">
                {% if item.rus_name %}
                <span><span class="rhombus" itemID={{ item.id }} itemType='deities' itemLang='ru' onclick="getItem(this)"></span>
                <a class="item-link link--popup item-link--deities item-link--table" href="/deities/{{ item.name|lower }}">{{ item.rus_name }}</a></span>
                {% else %} -
                {% endif %}
            </td>
            <td data="{{ item.alignment }}">{{ item.alignment }}</td>
            <td data="{{ item.skill|none_to_hyphen|to_text }}">{{ item.skill|none_to_hyphen|to_a_links|safe }}</td>
            <td data="{{ item.favored_weapon|none_to_hyphen|to_text }}">{{ item.favored_weapon|none_to_hyphen|to_a_links|safe }}</td>
            <td data="{{ item.divine_font|none_to_hyphen }}">{{ item.divine_font|none_to_hyphen }}</td>
            <td data="{{ item.domain|to_text|to_list }}">{{ item.domain|to_list|to_a_links|safe }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<div class="tab-content " id="domains">
    <table class="need-filters table--list" id="domains-list">
        <thead>
                <th class="table--list--header">Name
                    <button class="sort-button" data-column="0">
                        <img class="sort-button--icon" src="{{ url_for('static', path='icons/sort-arrows-icon.svg' ) }}" alt="Sort">
                    </button>
                </th>
                <th class="table--list--header">Название
                    <button class="sort-button" data-column="1">
                        <img class="sort-button--icon" src="{{ url_for('static', path='icons/sort-arrows-icon.svg' ) }}" alt="Sort">
                    </button>
                </th>

                <th class="table--list--header">{{ trans ('Domain Spell', lang) }}</th>
                <th class="table--list--header">{{ trans('Advanced Domain Spell', lang) }} </th>
{#                <th class="table--list--header">{{ trans('Deities', lang) }}</th>#}
            <tr>
<!--                NAME-->
                <th class="filter-cell table--list--filter">
                    <input type="text" class="filter-input" data-column="0" placeholder="">
                </th>
<!--                RUS NAME-->
                <th class="filter-cell">
                    <input type="text" class="filter-input" data-column="1" placeholder="">
                    <br>
                    <input type="checkbox" class="checkbox-only-rus check-checkbox" data-column="1"> есть
                </th>
                <!--domain spell-->
                <th class="filter-cell">
                    <input type="text" class="filter-input" data-column="2" placeholder="">
                </th>
                <!--advanced domain spell-->
                <th class="filter-cell">
                    <input type="text" class="filter-input" data-column="3" placeholder="">
                </th>
                <!--domains-->
{#                <th class="filter-cell">#}
{#                </th>#}
            </tr>
            </thead>
        <tbody>
        {% for item in domains %}
        <tr>
            <td class="cell-traits-output" data="{{ item.name }}">
                <span><span class="rhombus" itemID={{ item.id }} itemType='domains' itemLang='en' onclick="getItem(this)"></span>
                <a class="item-link link--popup item-link--domains item-link--table" href="/domains/{{ item.name|lower }}">{{ item.name }}</a></span>
            </td>
            <td class="cell-traits-output" data="{{ item.rus_name|none_to_hyphen }}">
                {% if item.rus_name %}
                <span><span class="rhombus" itemID={{ item.id }} itemType='domains' itemLang='ru' onclick="getItem(this)"></span>
                <a class="item-link link--popup item-link--domains item-link--table" href="/domains/{{ item.name|lower }}">{{ item.rus_name }}</a></span>
                {% else %} -
                {% endif %}
            </td>
            <td data="{{ item.domain_spell|to_text }}">{{ item.domain_spell|to_a_links|safe }}</td>
            <td data="{{ item.advanced_domain_spell|to_text }}">{{ item.advanced_domain_spell|to_a_links|safe }}</td>
{#            <td data="{{ item.deity|to_list|to_text }}">{{ item.deity|to_a_links|to_list|safe }}</td>#}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}